<md-dialog aria-label="%% dialog_config.title %%" ng-cloak class="dialog_clean" ng-class="{ 'dialog_loading' : dialog_config.loading, 'dialog_successful' : dialog_config.success }">
    <div class="dialog_loader">
        <div class="loader_icon aicon_circle_loader"></div>
    </div>

    <div class="dialog_success">
        <div class="success_msg">
            <div class="msg_icon aicon_checkmark"></div>
            <div class="msg_text">
                %% dialog_config.success_msg %%
            </div>
        </div>

    </div>

    <md-dialog-content>

        <div class="dialog_body">
            <form method="post" class="form" ng-submit="submit()">
                <div class="form_row">
                    <customer-address-fields address="address"></customer-address-fields>
                </div>

                <div class="form_row">
                    <button type="submit" class="btn flat_btn btn_primary btn_block">Save Address</button>
                </div>
            </form>

        </div>

    </md-dialog-content>
</md-dialog>


