<a ng-click="create()" class="btn">Add Address</a>

<div class="address_action_grid">
    <div class="grid_item" ng-repeat="address in addresses track by $index" ng-class="{'item_primary' : is_primary_address(address.address_id) }">
        <div class="item_body">
            %% address.address_street_1 %%<br>
            %% address.address_city %%<br>
            %% address.address_region %%, %% address.address_country %% %% address.address_post_code %%
        </div>

        <div class="item_actions">
            <button class="action_btn_primary" ng-click="make_primary($index)">
                Make Primary Address
            </button>

            <button class="action_btn" ng-click="edit($index)">
                Edit
            </button>

            <button class="action_btn" ng-click="delete($index)">
                Delete
            </button>
        </div>
    </div>
</div>