<div class="reviews_viewer">
    <div class="viewer_filters">

    </div>

    <div class="viewer_body">

        <div class="viewer_items review_items" ng-bind-html="review_html()"></div>

    </div>
</div>