@charset "UTF-8";

//@import url("https://use.typekit.net/pgp3wsq.css");
//@import url("https://use.typekit.net/mrq3gta.css");

//$color-primary: #7ED321;
$color-primary: #FFF200;
$color-primary-hover: rgba(255, 222, 0, .6);

$color-alt: #F8F8F8;
$color-alt-dark: #DCDCDC;
$color-alt-darker: #9B9B9B;
$color-alt-darkest: #4A4A4A;

$color-border: #D8D8D8;

$color-secondary : #000;
$color-dark : #9B9B9B;
$color-success : #71AF5D;

$font-primary : 'proxima-nova', sans-serif;
//$font-primary : 'Termina', sans-serif;
$font-secondary : 'proxima-nova', sans-serif;

//@import 'partials/fonts';
//@import 'partials/header';
//@import 'partials/footer';
@import 'partials/common';
@import 'partials/shop';
@import 'partials/checkout';
@import 'partials/brands';
@import 'partials/cart';
//@import 'partials/map';
@import 'partials/reviews';
//@import 'partials/blog';
//@import 'partials/home';
@import 'partials/account';
@import 'partials/register';

@import 'partials/bloom';
@import 'partials/devices';
//@import 'partials/custom';


%primary_font {
  text-transform: uppercase;
  font-family: $font-primary;
  font-style: normal;
  text-decoration: none;
}

%primary_font_light {
  text-transform: uppercase;
  font-family: $font-primary;
  font-style: normal;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1.5px;
}

%primary_font_demi {
  text-transform: uppercase;
  font-family: $font-primary;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1.5px;
}

html, html body {
  background: #2C2C2C !important;
  height: 100%;
  font-family: $font-secondary !important;
}

.site_wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content:stretch;
  min-height: 100%;
  background: #fff;
  overflow-x:hidden;
}

nav {
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}


h1 {
  font-size: 22px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}


.cat_seo {
  display: block;
  background-color: transparent;

  h1 {
    font-size: 22px;
  }

  &.seo_section {
    border-top: $color-alt;
    padding-top: 30px;
  }
}



.site_body {
  display: flex;
  flex-flow: column;
  justify-items: stretch;
  background: #fff;
  flex-grow: 2;
}


.site_cover_signup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  height: 0;
  width: 0;
  background-color: $color-primary;
  overflow: hidden;

  .signup_block {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    background: $color-primary;
    color: #000;
    padding: 50px;
    text-align: center;

    .block_header {
      margin-bottom: 40px;

      .header_title {
        color: #000;
        font-size: 1.3em;
        margin-bottom: 5px;
      }

      .header_sub {
        color: rgba(0,0,0,0.6);
        font-size: 1em;
      }
    }
  }

  .signup_loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-primary;

    .loading_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
    }
  }

  .signup_close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1em;
    color: #000;
  }

  .signup_error {
    text-align: left;
    margin-bottom: 20px;
    color: #ff4031;
    background-color: #ffbb9f;
    border-bottom: 2px solid #ff4031;
    padding: 20px;
  }

  .signup_form {
    .form_field {
      margin-bottom: 30px;

      label {
        @extend %primary_font;
        display: block;
        text-align: left;
        margin-bottom: 5px;
        font-size: 0.7em;
      }

      .field {
        padding: 10px;
        font-size: 1.3em;
        border: 1px solid rgba(0,0,0,0.2);

      }
    }
  }
}



.login_register_box {
  margin-top: 20px;
  border-top: 1px solid $color-alt-dark;

  .box_col {
    display: flex;
    flex-flow: column;
    padding: 20px 60px;
    border-right: 1px solid $color-alt-dark;

    &:last-child {
      border-right: 0;
    }

    .col_content {
      flex-grow:1;
      padding: 20px 0;

      p {
        font-size: 1.5em;
        color: #333;
        font-family: $font-secondary;

      }
    }
  }
}

.body_splash {
  .splash_header {
    text-align: center;
  }

  .splash_body {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
}


