<div class="header_cart_hud">
    <div class="hud_display" ng-click="toggle_menu()">
        <i class="fas fa-shopping-bag"></i>
        <span class="items-cart">%% hud_cart.item_count %%</span>
    </div>


    <div class="popover_menu" ng-if="config.show_menu">
        <div class="menu_header">
            <h4 class="menu_title">Your Shopping Bag</h4>
        </div>

        <div class="menu_body">
            <div class="menu_inner">
                <div class="cart_items_list_empty" ng-if="(hud_cart.items | isEmpty)" ng-cloak>
                    <p>You do not have any products in your cart.</p>
                </div>

                <div class="cart_items_list" ng-if="!(hud_cart.items | isEmpty)" ng-cloak>
                    <div class="list_item cart_item" ng-repeat="cart_item in hud_cart.items track by $index">
                        <div class="item_image">
                            <img src="%% cart_item.product.product_cover_image.image.sizes.thumb.url %%" />
                        </div>

                        <div class="item_info">
                            <div class="item_title">%% cart_item.product.product_title %% </div>

                            <div class="item_price">
                                $%% cart_item.item_cost %%
                            </div>

                            <div class="item_summary">
                                <span class="summary_item" ng-if="(cart_item.product.product_is_variation)">%% cart_item.variation.display_attributes_str %%</span>
                                <span class="summary_item" ng-if="!(cart_item.product.product_is_variation)">%% cart_item.price_option.price_title %%</span>
                            </div>

                            <div class="item_quantity">
                                QTY: %% cart_item.item_quantity %%
                            </div>
                        </div>


                        <div class="item_remove" ng-click="remove($index)">
                            <i class="fa fa-times"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu_actions">
                <ng-transclude></ng-transclude>
            </div>
        </div>
    </div>
</div>
