<div class="header_cart_hud">
    <div class="hud_display" ng-click="toggle_menu()">
        <i class="fas fa-shopping-bag"></i>
        <span class="items-cart">%% item_count %%</span>
    </div>

    <div class="hud_cart_menu">
        <div class="menu_arrow"></div>

        <div class="menu_body">
            <div class="menu_inner">
                <div class="inner_header">
                    <span class="header_items_count">%% item_count %% Items</span>
                </div>

                <div class="inner_cart">
                    <div ng-cloak class="cart_no_items" ng-if="items | isEmpty">
                        <p>You do not have any products in your cart.</p>
                    </div>

                    <div ng-cloak class="cart_items" ng-if="!(items | isEmpty)">
                        <div class="cart_item" ng-repeat="item in items track by $index">
                            <div class="item_image">
                                <img src="%% item.product.product_cover_image.image.sizes.thumb.url %%" />
                            </div>

                            <div class="item_info">
                                <span class="info_title">%% item.product.product_title %% </span>

                                <div class="info_summary">
                                    <span class="summary_item" ng-if="(item.product.product_is_variation)">%% item.variation.display_attributes_str %%</span>
                                    <span class="summary_item" ng-if="!(item.product.product_is_variation)">%% item.price_option.price_title %%</span>
                                </div>
                            </div>

                            <div class="item_quantity">
                                <input type="text" ng-model="item.item_quantity" ng-change="update_quantity($index)" />
                            </div>

                            <div class="item_remove" ng-click="remove($index)">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu_actions">
                <ng-transclude></ng-transclude>
            </div>
        </div>
    </div>
</div>
