<div ng-if="(items | isEmpty)"  ng-cloak>
    <div class="alert alert-warning">
        <h5 style="text-align: center;">You do not have any products in your bag!</h5>
    </div>
</div>

<div ng-if="!(items | isEmpty)"  ng-cloak>
    <div class="cart_items_list" ng-if="!(items | isEmpty)" ng-cloak>
        <div class="list_item cart_item" ng-repeat="item in items track by $index">
            <div class="item_image">
                <img src="%% item.product.product_cover_image.image.sizes.thumb.url %%" />
            </div>

            <div class="item_info">
                <div class="item_title">%% item.product.product_title %% </div>

                <div class="item_price">
                    $%% item.item_cost %%
                </div>

                <div class="item_summary">
                    <span class="summary_item" ng-if="(item.product.product_is_variation)">%% item.variation.display_attributes_str %%</span>
                    <span class="summary_item" ng-if="!(item.product.product_is_variation)">%% item.price_option.price_title %%</span>
                </div>

                <div class="item_actions">

                    <div class="action_quantity">
                        <span ng-if="(edit == 'no')">QTY: %% item.item_quantity %%</span>
                        <span ng-if="(edit != 'no')">
                            <cart-quantity-input index="$index" quantity="item.item_quantity" update="update_quantity"></cart-quantity-input>
                        </span>
                    </div>

                    <button class="btn_border action_remove" ng-click="remove($index)" ng-if="(edit != 'no')" ng-cloak>Remove</button>

                </div>
            </div>
        </div>
    </div>
</div>