.account_followed_brands {
  margin: 20px 0;

  .list_item_brand {
    border: 1px solid $color-alt-dark;
    padding: 20px;
  }

  .brand_logo {
    img {
      display: block;
      width: 90px;
    }
  }
}

.customer_followed_list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: -20px;

  .list_item {
    display: block;
    margin: 20px;
  }
}

//.customer_login_register_box {
//  position: relative;
//
//  .box_back_layer {
//    position: absolute;
//    top: 50%;
//    left: -20px;
//    transform: translateY(-50%);
//    background:  $color-primary;
//    z-index: 1;
//    padding-left: 50%;
//    width: 100%;
//
//    @media (max-width: 500px) {
//      position: relative;
//      top: inherit;
//      left: inherit;
//      transform: none;
//      padding-left: inherit;
//    }
//
//    .layer_inner {
//      padding: 30px;
//      color: #fff;
//      text-align: center;
//
//      .register_text {
//        margin-bottom: 20px;
//
//        .text_title {
//          text-transform: uppercase;
//          color: #000;
//          font-family: $font-primary;
//          font-size: 1.7em;
//          letter-spacing: 1.4px;
//        }
//
//        .text_tagline {
//
//          color: #333;
//          font-family: $font-primary;
//          font-size: 0.8em;
//          line-height: 1.4em;
//          margin: 15px 0;
//        }
//      }
//    }
//  }
//
//  .box_front_layer {
//    background: #fff;
//    width: 50%;
//    padding: 20px;
//    border: 1px solid #ccc;
//    position: relative;
//    z-index: 2;
//
//    @media (max-width: 500px) {
//      width: 100%;
//      border-left: none;
//      border-right: none;
//    }
//
//    .layer_title {
//      text-transform: uppercase;
//      margin: 0 0 25px 0;
//      font-family: $font-primary;
//      font-size: 2em;
//      letter-spacing: 1.4px;
//    }
//  }
//
//  .customer_login_form {
//    .form_row {
//      margin-bottom: 15px;
//
//      label {
//        text-transform: uppercase;
//      }
//    }
//
//    .form_remember {
//
//    }
//
//    .form_lost_pass {
//      text-align: right;
//    }
//  }
//}

.account_landing {
  .landing_banner {
    display: block;
    position: relative;
    height: 200px;
    background-size: cover;
    background-color: #333;
    background-repeat: no-repeat;

    .banner_text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 400px;
      width: 80%;
      color: #fff;
      text-align: center;

      .text_title {
        text-transform: uppercase;
        font-size: 2.8em;
      }

      .text_btn {
        margin-top: 15px;
      }
    }
  }

  .landing_navbar {
    background: #fff;
    border-bottom: 1px solid #ccc;

    .landing_nav {
      display: flex;
      justify-content: center;

      a {
        display: block;
        padding: 20px 40px;
        text-transform: uppercase;
        color: #777;
        font-size: 0.8em;
        border-right: 1px solid #ccc;

        &:first-child {
          border-left: 1px solid #ccc;
        }

        &:hover {
          background-color: $color-primary;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}

.panel_profile {
  border: 1px solid $color-alt-dark;
  background: #fff;
  margin-bottom: 20px;

  .profile_header {
    text-align: center;
    padding: 20px 0;

    .header_icon {
      font-size: 3em;
    }

    .header_customer {
      .customer_name {
        display: block;
        font-size: 1.3em;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .customer_email {
        display: block;
        font-size: 0.9em;

      }

      .customer_date {
        display: block;
        font-size: 1em;
      }
    }
  }

  .profile_actions {
    border-top: 1px solid $color-alt-dark;
    padding: 20px;

    a {
      display: block;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .profile_row {
    border-top: 1px solid $color-alt-dark;

    .profile_data {
      border-right: 1px solid $color-alt-dark;
      padding: 10px;

      &:last-child {
        border-right: 0;
      }

      .data_label {
        display:block;
        font-size: 0.7em;
        color: $color-alt-dark;
        text-transform: uppercase;
      }

      .data_value {
        display:block;
        font-size: 1.5em;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.section_border {
  border: 1px solid $color-alt-dark;
  padding: 20px 0;
  border-width: 1px 0;
}

.section_actions {
  text-align: right;
}

.invite_form {
  .invite_row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .invite_submit_row {
    padding-top: 10px;
    border-top: 1px solid $color-alt-dark;
  }

  .row_actions {
    i {
      padding: 5px 5px 5px 20px;
    }
  }

  .field {
    flex: 1;
  }
}

.address_action_grid {
  display: flex;
  flex-flow: row wrap;
  margin: -10px;

  .grid_item {
    width: 100%;
    max-width: 300px;
    border: 1px solid $color-alt-dark;
    margin: 10px;

    &.item_primary {
      background-color: $color-primary;
    }
  }

  .item_body {
    padding: 20px;
    text-align: center;
  }

  .item_actions {
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid $color-alt-dark;
    background-color: $color-alt;
  }

  .action_btn_primary {
    display: block;
    width: 100%;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid $color-alt-dark;

    padding: 10px;
    text-align: center;
  }


  .action_btn {
    border-width: 0 1px 0 0;
    border-right: 1px solid $color-alt-dark;
    width: 50%;
    padding: 10px;
    text-align: center;

    &:last-child {
      border-right: 0;
    }
  }
}