.user_notify_bar {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  .notify_item {
    background: $color-secondary;
    color: #fff;
    padding: 15px;
    font-size: 1.4em;
    text-align: center;

    p {
      margin: 0;
    }
  }
}

.page_wrap {
  .grid-stack > .grid-stack-item > .grid-stack-item-content {
    position: relative;
    left: 0;
    right: 0;
  }
}


.page_login_register {
  width: 96%;
  max-width: 700px;
  margin: 0 auto;

  .login_form_box {
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 13px;
    margin-bottom: 30px;
  }

  .register_btn_box {
    margin-bottom: 50px;
  }
}

.customer_id_selector {
  padding-right: 40%;

  .selector_actions {
    display: flex;

    .btn {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.customer_id_upload {
  display: flex;

  .upload_preview {
    width: 350px;
    padding: 20px;
  }

  .upload_form {
    padding: 20px 50px;
  }
}

.dialog_splash {
  text-align: center;
  padding: 20px;

  .splash_icon {
    margin-bottom: 15px;
  }

  .splash_text {
    margin-bottom: 15px;
  }

  .splash_actions {
    button {
      margin-bottom: 10px;
    }
  }
}


.success_dialog {
  width: 90%;
  max-width: 300px;

  .splash_icon {
    margin-bottom: 15px;
    color: #1a9623;

    i {
      font-size: 3em;
    }
  }

  .splash_text {
    color: #1a9623;
    font-size: 1.2em;
  }

  .dialog_splash {
    display: none;
  }

  &.dialog_success {
    .dialog_splash.success {
      display: block;
    }
  }


  &.dialog_error {
    .dialog_splash.error {
      display: block;
    }

    .splash_icon {
      margin-bottom: 15px;
      color: #963e46;

      i {
        font-size: 3em;
      }
    }

    .splash_text {
      color: #963e46;
    }
  }
}





.details_table {
  border-collapse: collapse;
  margin-bottom: 0;

  tr:nth-child(even) {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
  }

  tr {
    border-bottom: 1px solid #ccc;

    td {
      border-right: 1px solid #ccc;
      padding: 15px;

      &:last-child {
        border-right: 0;
      }
    }
  }

  .detail_label {
    display: block;
    font-size: 0.7em;
    text-transform: uppercase;
  }

  .detail_value {
    display: block;
    font-size: 1em;
    font-weight: bold;
  }
}
.float_panel {
  border: 1px solid #ccc;
  margin-bottom: 20px;

  .panel_header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;

    &.link {
      color: #333;

      i {
        font-size: 1.2em;
      }

      .panel_title {
        width: 100%;
      }
    }
  }

  .panel_title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .section_title {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .panel_section {
    padding: 20px;
    border-bottom: 1px solid #ccc;

    &.has_icon {
      display: flex;
      align-items: center;
    }

    &:last-child {
      border-bottom: 0;
    }

    &.no_pad {
      padding: 0;
    }

    &.section_success {
      color: #fff;
      background-color: #75cc77;
    }



    .section_icon {
      margin-right: 20px;

      i {
        font-size: 3em;
      }
    }

    .section_body {
      width: 100%;
    }
  }
}

.account_body {
  .account_customer {

  }

  .account_orders {

  }
}

//.nav_progress {
//  display: flex;
//  justify-content: center;
//  list-style-type: none;
//  margin: 60px 0;
//  padding: 0;
//  overflow: hidden;
//
//  li {
//    border: none;
//    color: black;
//    margin: 0;
//    font-size: 0.875rem;
//    font-weight: 900;
//
//    &.active {
//      background-color: black;
//
//      a {
//        color: #fff;
//      }
//    }
//
//    &.completed {
//      background-color: $color-secondary;
//
//      a {
//        color: #fff;
//      }
//    }
//
//    a {
//      display: block;
//      text-align: center;
//      padding: 7px 40px;
//      text-decoration: none;
//      color: #6a6a69;
//
//      &:hover {
//        background-color: black;
//        color: white;
//      }
//    }
//  }
//}






.checkout_success {
  text-align: center;
  padding: 20px 0;

  .success_header {

  }
}

.product_searcher_dialog {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.product_searcher {
  padding: 10px;

  .searcher_input_wrap {
    padding: 10px 20px;
    border-width: 0 0 15px 0;
    border-bottom: 5px solid #ccc;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    i {
      display: block;
      font-size: 3em;
      margin-right: 20px;
      padding-top: 5px;
    }

    .searcher_input {
      font-size: 2em;
      padding: 10px 0;
      height: auto;
      flex-grow: 2;
      border: 0;
      margin: 0;
      outline: 0;
      box-shadow: none;
      background: transparent;
    }

    button {
      width: 150px;
    }
  }

  .suggests_loading {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    background: rgba(0,0,0,0.5);
    color: #fff;
  }

  .searcher_suggests {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .suggests_viewport {
      width: 100%;
      overflow-x: hidden;

      .viewport_track {
        display: flex;
        flex-flow: row nowrap;
        width: 2000px;
      }
    }

    .suggest_dir_btn {
      i {
        font-size: 3em;
        padding: 15px;
      }
    }

    .suggest_item {
      width: 230px;
      padding: 0 20px;
      text-align: center;

      .product_title {
        font-size: 1em;
        text-transform: uppercase;
      }

      .product_image {
        width: 100%;
        padding: 15px;
      }

      .product_summary {
        font-size: 0.7em;
      }
    }
  }
}

.account_status_summary {
  display: flex;
  margin-bottom: 20px;

  .summary_item {
    width: 33%;
    max-width: 300px;
    background-color: #0c3d5d;
    color: #fff;
    text-align: center;
    margin-right: 20px;

    .item_value {
      font-size: 4em;
      padding: 20px;
    }

    .item_label {
      text-transform: uppercase;
      font-size: 0.9em;
      color: rgba(255,255,255,0.6);
      padding: 0 0 10px;
    }

    .item_action {
      display: block;
      width: 100%;
      padding: 10px;
      color: #fff;
      border-top: 1px solid rgba(255,255,255,0.2);
      background: rgba(0,0,0,0.2);
      text-align: center;
      text-transform: uppercase;
      font-size: 0.7em;
    }
  }
}

.account_address_list {
  .list_item {
    display: flex;
    align-items: center;

    .item_col_defaults {
      width: 150px;

      input {
        margin: 0 15px;
      }
    }

    .item_col_address {
      width: 70%;
    }

    .item_col_actions {
      display: flex;
      justify-items: stretch;

      a {
        display: block;
        padding: 30px;
      }
    }
  }
}

.account_orders_summary {
  .summary_item {
    .item_progress {
      width: 100%;
      height: 70px;
    }

    .item_info {
      .info_meta {
        > span {
          display: inline-block;
          font-size: 0.8em;
          color: #777;
          padding: 2px 10px 2px 0;
          border-right: 1px solid #ccc;
          margin-right: 10px;
          text-transform: uppercase;

          &:last-child {
            margin-right: 0;
            border-right: 0;
            padding-right: 0;
          }
        }

        .meta_date {

        }

        .meta_items {

        }

        .meta_cost {

        }
      }
    }

    .item_actions {
      a {
        display: inline-block;
        background: #ccc;
        margin-bottom: 5px;
        padding: 10px;
      }
    }
  }
}

.account_order_totals {
  .total_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .total_label {
    font-weight: bold;
    color: #555;
  }

  .total_value {
    font-weight: bold;
  }
}

.progress_bar_steps {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;

  .step {
    position: relative;
    width: 100%;

    &.current {
      .step_label {

        .label_title {
        }

        .label_icon {
          background: #8191cc;
        }
      }
    }

    &.complete {
      .step_bar {
        background: #75cc77;
      }

      .step_label {

        .label_title {
        }

        .label_icon {
          background: #75cc77;
        }
      }
    }

    &:first-child {
      .step_label {
        left: 0;
        text-align: left;
      }
    }

    &:last-child {
      .step_label {
        right: 0;
        text-align: right;
      }
    }

    .step_bar {
      position: absolute;
      top: 18px;
      width: 100%;
      height: 3px;
      background: #ccc;
    }


    .step_label {
      display: block;
      position: absolute;
      top: 10px;
      z-index: 2;
      text-align: left;

      .label_title {
        font-size: 0.7em;
        color: #ccc;
        text-transform: uppercase;
      }

      .label_icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #ccc;
      }
    }
  }
}

.selector_address_form {
  margin-top: 20px;
}

.customer_address_selector {
  display: flex;
  flex-flow: row wrap;

  .selector_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px 10px;

    .selector_address {
      margin-bottom: 15px;
      color: #777;
    }

    .selector_actions {
      > button {
        width: 100%;
      }

      .selector_sub_actions {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-top: 15px;

        button {
          width: 45%;
        }
      }
    }

  }

  .selector_item.selected {
    border-color: #5e9a2e;

    .selector_address {
      color: #5e9a2e;
    }
  }
}



$brand-success: #5cb85c;
$loader-size: 12em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 5px;
$check-color: $brand-success;

.circle-loader {
  margin: 0 0 30px 10px;
  border: $check-thickness solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.circle-loader,
.circle-loader:after {
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
}



.checkmark {
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }

  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: $check-height;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}