.brands_index_grid {
  display: flex;
  flex-flow: row wrap;
  //justify-content: center;
  justify-content: space-around;

  .grid_item {
    display: block;
    max-width: 800px;
    min-width: 400px;
    padding: 30px;
    flex: 50%;
  }

  .brand_item {
    > a {
      position: relative;
    }

    .brand_logo_wrap {
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      width: 200px;
      height: 200px;
      box-shadow: 5px 4px 17px -3px rgba(0,0,0,0.23);
    }

    .brand_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 70%;
      max-height: 70%;
    }

    .brand_desc {
      background: #fff;
      padding: 50px 30px 30px;
      text-align: center;
      font-size: 0.9em;
      min-height: 150px;
    }
  }
}

.brands_single {
  .brand_header {
    .brand_banner {
      position: relative;
      background: #333;

      .banner_bg {
        background-size: cover;
        background-position: center;
        height: 626px;

        img {
          display: block;
          width: 100%;
        }
      }

      .banner_logo {
        position: absolute;
        bottom: -100px;
        left: 50%;
        width: 250px;
        height: 250px;
        z-index: 5;
        background: #fff;
        transform: translateX(-50%);
        box-shadow: 5px 4px 17px -3px rgba(0,0,0,0.23);


        @media (max-width: 1250px) {
          bottom: 20%;
        }

        img {
          display: block;
          width:70%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .brand_nav {
      display: none;

      a {
        @extend %primary_font;

        display: block;
        padding: 20px 35px;
        color: #333;
        font-size: 0.7em;
        text-transform: uppercase;
      }
    }

    .brand_navbar {
      display: flex;

      a {
        //font-family: $primary-font;
        font-family: "termina", sans-serif;
        color: $color-alt-darker;
        text-transform: uppercase;
        font-size: 0.9em;
        /* letter-spacing: 1.5px; */
        font-weight: 500;
        padding: 25px;
      }

      .back_to_brands_button {
        border-right: 2px solid $color-alt-dark;
        display: flex;
        justify-content: space-around;
        width: 175px;

        .back_button_arrow {
          display: inline-block;
          position: relative;
          height: 23px;
          width: 20px;
          text-align: center;
          background: url('../img/primo_back_arrow.png') 100% 100% no-repeat;
          background-size: contain;
          font-weight: 700;
        }

        .back_button_text {
          line-height: 23px;
        }
      }

      .brand_navbar_content {
        display: flex;
        justify-content: space-between;
        width: 90%;

        .brand_navbar_left {
          display: flex;
          justify-content: space-around;
          width: 33%;

          @media (max-width: 1250px) {
            width: 50%;
          }
        }

        .brand_navbar_right {
          display: flex;
          justify-content: space-around;
          width: 33%;
          margin-right: 175px;

          @media (max-width: 1250px) {
            width: 50%;
            margin-right: 0;
          }
        }

        @media (max-width: 1250px) {
          bottom: 20px;
        }
      }

      @media (max-width: 800px) {
        display: none;
      }
    }
  }

  .brand_overview_box {
    display: flex;
    padding: 40px;
    background-color: white;
    margin: 2.5em auto 0;

    @media (max-width: 800px) {
      flex-direction: column-reverse;
      margin-top: 0;
    }

    .brand_overview_review {
      flex: 1;
      border-right: 2px solid $color-alt-dark;
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @media (max-width: 800px) {
        padding-right: 0;
        padding-top: 40px;
        border-right: none;
        flex-direction: row;
        justify-content: space-around;
      }

      @media (max-width: 400px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .rating_container {
        margin-bottom: 20px;

        @media (max-width: 800px) {
          margin-bottom: 0;
        }

        .label_rating {
          margin-bottom: 20px;

          .rating_value {
            font-size: 1.5em;
          }
        }

        p {
          margin: 5px 0;
          font-size: 0.75em;
          color: $color-alt-darker;
        }
      }

      .price_container {
        border-top: 1px solid $color-alt-dark;
        border-bottom: 1px solid $color-alt-dark;
        padding: 20px;
        margin-bottom: 20px;

        @media (max-width: 800px) and (min-width: 400px) {
          border: none;
          margin-bottom: 0;
        }

        .price_counter {
          color: $color-alt-dark;

          .price_highlight {
            color: black;
          }
        }
      }
    }

    .brand_overview_bio {
      flex: 4;
      padding-left: 40px;
      //margin: auto 0;

      @media (max-width: 800px) {
        flex: 1;
        border-bottom: 2px solid $color-alt-dark;
        padding-left: 0;
        padding-bottom: 40px;
      }
    }
  }

  .box_brand_summary {
    padding: 40px;


    .brand_summary {
      border-right: 1px solid $color-alt-dark;
      padding-right: 15px;

      .summary_rating {
        margin-bottom: 20px;

        .label_rating {
          margin: 0 auto;
          width: 100px;
          height: 100px;
        }
      }

      .summary_row {
        margin-bottom: 15px;
        text-align: center;

        .row_title {
          display: block;
          color: #ccc;
          margin: 0;
          font-size: 0.7em;
          text-transform: uppercase;
        }

        .row_value {
          display: block;
          color: #000;
          font-size: 1em;
          text-transform: uppercase;
        }
      }

      .summary_price_row {
        border: $color-alt-dark solid;
        border-width: 1px 0;
        padding: 15px;

        .avg_price {
          font-size: 1.6em;
          color: #777;
          margin: 0 5px;

          .active {
            color: #000;
          }
        }
      }
    }
  }

  .brand_info {
    .info_title {
      font-size: 1.2em;
    }

    .info_overview {
      .overview_content {

      }
    }
  }
}

.brand_hero_gallery {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 40px auto 0 auto;

  .gallery_item {
    display: block;
    position: relative;
    width: 50%;
    margin: 50px 0 0 -50px;

    &:first-child {
      margin: 0;
    }

    img {
      max-width: 100%;
    }
  }

}

.brands_products_list {
  display: flex;
  justify-content: space-around;
  margin: 0;

  .section_title {
    text-align: left !important;

    &::after {
      margin-left: 0 !important;
    }
  }

  .brands_product_list {
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 30px;

      h4 {
        color: $color-alt-darker;
        margin-bottom: 25px;
      }
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    //align-items: center;
  }
}

.juicer-feed {

  .referral {
    display: none !important;
  }

  .juicer-ad {
    display: none !important;
  }

  .j-poster {
    display: none !important;
  }

  .j-text {
    display: none !important;
  }
}
