.cart_popover {
  position: absolute;
  background: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  .popover_sidebar {
    position: absolute;
    background: #fff;
    width: 500px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 3;
  }
}

.popover_menu {
  display: block;
  position: absolute;
  top: 149%;
  right: -114%;
  width: 600px;
  background: #fff;
  box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.35);

  @media (max-width: 992px) {
    right: -10px;
    top: 49px;
    width: 100vw;
  }

  .menu_header {
    border-bottom: 1px solid #C8C8C8;
    padding: 30px;
  }

  .menu_title {
    margin: 0;
  }

  .menu_body {

  }

  .menu_inner {
    max-height: 300px;
    overflow-y: auto;
  }

  .menu_actions {
    padding: 15px 30px;

    a {
      display: block;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.cart_items_list {
  .list_item {

  }
}

.cart_items_list_empty {
  padding: 30px;
  text-align: center;
  font-size: 1.5em;
}

.cart_item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid #C8C8C8;
  padding: 15px 15px 15px 30px;

  &:last-child {
    border-bottom: 0;
  }

  .item_image {
    width: 150px;

    img {
      display: block;
      width: 100%;
    }
  }

  .item_info {
    width: 100%;
    align-self: flex-start;
    padding: 0 0 0 20px;

    > div {
      margin-bottom: 7px;
    }
  }

  .item_title {
    font-size: 16px;
  }

  .item_price {
    font-size: 16px;
  }

  .item_summary {
    font-size: 14px;
    color: #C8C8C8;
  }

  .item_quantity {
    font-size: 14px;
    color: #C8C8C8;
  }

  .item_remove {
    align-self: flex-start;
    padding: 0 20px;

    i {
      font-size: 1.3em;
    }
  }

  .item_actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .action_quantity {
      width: 150px;
    }

    .action_remove {
      width: 200px;
    }
  }
}

.header_cart_hud {
  position: relative;
  z-index: 999;

  .hud_display {
    padding-left: 20px;
    position: relative;

    i {
      color: #000;
      font-size: 1.5em;
    }

    .items-cart {
      position: absolute;
      z-index: 2;
      bottom: 0;
      right: -25px;
      font-size: 0.7rem;
      background-color: $color-primary;
      color: white;
      border-radius: 16px;
      padding: 1px 11px; }
  }

  .hud_cart_menu {
    display: block;
    position: absolute;
    top: 140%;
    right: -22px;
    width: 500px;
    padding-top: 10px;

    .menu_header {
      border-bottom: 1px solid #ccc;
      padding: 15px;
    }

    .menu_title {

    }

    .menu_body {
      box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.35);
    }

    .menu_inner {
      background: #fff;
      padding: 15px 0 0 15px;


      .inner_header {
        border-bottom: 1px solid #ccc;

        span {
          display: block;
          color: #ccc;
          font-size: 0.8em;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
      }

      .inner_cart {
        max-height: 300px;
        overflow-y: auto;

        .cart_no_items {
          padding: 20px 10%;
          text-align: center;

          p {
            font-size: 1.4em;
            color: #666;
          }
        }
      }
    }

    .menu_actions {
      background: #e7e7e7;
      padding: 15px;

      a {
        display: block;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media only screen and (max-width:800px) {
  html body {
    .header_cart_hud {

      .hud_cart_menu {
        display: block;
        position: absolute;
        top: 140%;
        right: auto;
        left: 0;
        transform: translateX(-60%);
        width: 360px;

        .menu_arrow {
          right: 100px;
        }
      }
    }

  }
}

.checkout_cart {
  .cart_header {
    padding-bottom: 20px;
    border-bottom: 1px solid $color-alt-darker;
    margin-bottom: 20px;
  }
}


.cart_review {
  display: flex;
  flex-flow: row wrap;

  .review_cart {
    flex-grow: 1;
    padding-right: 30px;
    min-width: 500px;
  }

  .review_order {
    min-width: 300px;
  }
}

@media only screen and (max-width:800px) {
  html body {
    .cart_review {
      .review_cart {
        padding-right: 0;
        min-width: auto;
        width: 100%;
      }

      .review_order {
        min-width: auto;
        width: 100%;
      }
    }
  }
}

.cart_actions {
  background-color: #444;
  padding: 10px;
}

.cart_totals {
  margin: 40px 0;

  .total_row {
    border-bottom: 1px solid $color-alt-dark;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .row_label {
      font-size: 1em;
      text-transform: uppercase;
      color: #bbb;
    }

    .row_value {
      text-align: right;
      font-size: 1.2em;
      text-transform: uppercase;
      color: #666;
      font-weight: bold;
    }
  }
}

.cart_coupon_field {
  display: flex;

  .field {
    max-width: 300px;
  }

}

.cart_table_empty {

}


.cart_table {
  border: 0;

  .row_col_remove {
    padding: 20px 40px;
    text-align: center;

    i {
      font-size: 2em;
      color: #555;
    }
  }

  .row_col_product {
    .product_info {
      padding: 10px 0;

      .info_title {
        font-size: 1.3em;
        margin-bottom: 5px;
      }

      .info_attributes {
        font-size: 0.9em;
        color: #555;
      }
    }

    .product_thumb {
      max-width: 100px;
      min-width: 50px;
      width: 100%;
    }
  }

  .row_col_price {
    padding: 0 10px;
    font-size: 1.2em;
  }

  .row_col_quantity {
    padding: 0 10px;
    max-width: 90px;
  }

  .row_col_total {
    padding: 0 10px;
    text-align: right;
    font-size: 1.2em;
  }

  .product_thumb {
    display:block;
    width: 100%;
  }

  .product_info {
    > span {
      display: block;
    }
  }
}

.orders_table {
  .row_col_id {
    width: 10%;
  }

  .row_col_date {
    width: 25%;
    font-size: 0.9em;
  }

  .row_col_cost {
    width: 20%;
    font-size: 0.9em;
  }

  .row_col_status {
    width: 20%;
    font-size: 0.9em;
  }

  .row_col_actions {
    width: 25%;
    text-align: right;
  }

  @media (max-width: 1000px) {
    .row_col_id {
      width: 25%;
    }

    .row_col_date {
      width: 25%;
      font-size: 0.9em;
    }

    .row_col_cost {
      width: 25%;
      font-size: 0.9em;
    }

    .row_col_status {
      width: 25%;
      font-size: 0.9em;
    }

    div.row_col_actions {
      width: 100%;
      padding-top: 10px;
      text-align: center;
    }
  }
}

