.address_hidden_autofill {
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}

.shop_checkout {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto;

  .checkout_header {
    text-align: center;
    border-bottom: 1px solid #ccc;
  }

  .checkout_body {
    display: flex;
    padding: 20px 0;

    .body_main {
      margin: 0 0 30px 0;
    }

    .body_sidebar {
      flex-grow: 1;
      margin-left: 0;
    }
  }
}

.checkout_loyalty_alert {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background: #000;
  padding: 20px;

  .alert_text {
    flex-grow: 1;
    font-weight: normal;
    font-size: 1.1em;
    color: #fff;

    > span {
      font-weight: bold;
    }
  }

  .alert_actions {
    padding: 0 0 0 20px;
  }
}

.coupon_form_inline {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;

  .coupon_field {
    width: 100%;
    min-width: 100px;
    margin-right: 10px;
  }

  .coupon_btn {
    min-width: 100px;
  }
}

.checkout_method_summary {
  .summary_row {
    padding: 10px 0;
  }

  .summary_value {
    font-weight: bold;
    font-size: 1.2em;
  }

  .summary_title {
    color: $color-alt-darker;
  }
}

.box_panel {
  background: #000;

  .panel_title {
    padding: 20px 0;
    color: #fff;
    font-size: 1em;
  }

  .panel_actions {
    padding: 20px;
  }
}

.section_loads {
  position: relative;
  //padding: 10px;

  &.no_pad {
    padding: 0;
  }

  .section_loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99;
    min-height: 100px;
  }

  .loader_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

.option_steps {
  .option_step {
    border-bottom: 1px solid rgba(0,0,0,0.2);

    &:last-child {
      border-bottom: 0;
    }

    &.open {
      .step_header {
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }

      .step_body {
        display: block;
      }
    }
  }

  .step_header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(0,0,0,0.1);
  }

  .step_body {
    //display: none;
    padding: 10px;

    &.no_pad {
      padding: 0;
    }
  }

  .step_icon {
    display: block;
    padding: 0 20px;
    color: rgba(0,0,0,0.6);
  }

  .step_title {
    flex-grow: 1;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.checkout_shipping_rates {

  .col_label {
    display: block;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
  }

  .col_value {
    display: block;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    color: rgba(0,0,0,0.6);
  }

  .rate_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .rate_select {
    padding: 10px;

    md-radio-button {
      margin-bottom: 0;
    }
  }

  .rate_title_col {
    flex-grow: 1;

  }

  .rate_title {
    display: block;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }

  .rate_attributes {
    display: block;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
    color: rgba(0,0,0,0.4);
  }

  .rate_arrival_col {
    flex-grow: 1;
    max-width: 150px;
  }

  .rate_cost_col {
    justify-self: flex-end;
    padding: 0 30px;
    max-width: 110px;
  }
}

.method_options {
  border: 1px solid rgba(0,0,0,0.2);

  .option_item {
    border-bottom: 1px solid rgba(0,0,0,0.2);

    &.selected {
      background-color: #eee;
    }

    .item_header {
      padding: 15px;

      md-radio-button {
        display: inline;
        margin-bottom: 0;
      }
    }

    .item_body {
      border-top: 1px solid rgba(0,0,0,0.2);
      padding: 15px;
      display: none;

      &.no_pad {
        padding: 0;
      }
    }
  }

  .option_item:last-child {
    border-bottom: 0;
  }

  .option_item.selected {
    .item_header {

    }

    .item_body {
      display: block;
    }
  }
}

.checkout_success {
  text-align: center;
  padding: 20px 0;

  .success_header {

  }
}



.checkout_cancel_btn {
  display: none;
  position: absolute;
  left: 0;

  i {
    font-size: 1em;
  }
}

.btn_flat {
  &.btn_inverse {

  }
}

.pickup_summary_store {
  .store_image {
    display: block;
    width: 100%;
  }

  .store_name {
    font-weight: bold;
    font-size: 1em;
  }

  .store_address {
    .address {
      font-size: 0.8em;

    }
  }
}

.checkout_review_panel {
  .panel_title {
    font-size: 12px;
  }

  .section_title {
    font-size: 9px;
  }
}

.checkout_step_section {
  padding: 20px 0;

  &.div_top {
    border-top: 1px solid #ccc;
  }

  &.div_bottom {
    border-bottom: 1px solid #ccc;
  }

  .section_header {

  }

  .section_title {
    margin-bottom: 20px;
  }

  .section_body {

  }
}

.order_totals_summary {
  .summary_row {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);

    .summary_label {
      flex-grow: 2;
      color: #fff;
      padding: 0 20px;
    }

    .summary_value {
      color: #fff;
      min-width: 150px;
      padding: 0 20px;
    }
  }
}