
.form-control {
  width: 100%;
}

.btn_round {
  display: block;
  border: 0;
  border-radius: 30px;
  padding: 6px 50px;
  font-size: 12px;
  font-family: $font-primary;

  &.primary {
    background-color: $color-primary;
    color: #fff;
  }

  &.block {
    width: 100%;
  }
}

.btn_border {
  display: block;
  border: 1px solid $color-alt-darker;
  padding: 6px 30px;
  font-size: 12px;
  font-weight: bold;
  font-family: $font-primary;
  text-transform: uppercase;
  color: $color-alt-darker;
}

.res_image_mobile {
  display: none;
}

.res_image_desk {
  display: block;
}

.search_form {
  display: flex;

  .search_field {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 0;
    margin-bottom: 0;
  }

  .search_btn {
    background: $color-primary;
    color: #fff;
    padding: 0 15px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

@media only screen and (max-width:800px) {
  html body {
    .res_image_mobile {
      display: block;
    }

    .res_image_desk {
      display: none;
    }
  }
}

.title_underline, .text_underline {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 2em;
  font-weight: 300;

  &.underline_left {
    &:after {
      width: 150px;
      margin: 25px 0 0 !important;
    }
  }

  &:after {
    display: block;
    border-bottom: 0.2em solid $color-primary;
    content: '';
    width: 150px;
    margin: 20px auto 0;
  }
}

.text_outline {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.text_center {
  text-align: center;
}

.text_pad {
  padding: 30px;
}

.header_underline {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 2em;
  font-weight: 300;


  &:after {
    display: block;
    border-bottom: 0.2em solid $color-primary;
    content: '';
    width: 150px;
    margin: 25px auto 0;
  }
}

.aicon_circle_loader  {
  display: block;
  width: 100px;
  height: 100px;
  background: url('../img/circle_loader.svg') 50% 50% no-repeat;
  background-size: cover;

  &.primary {
    background-image: url('../img/circle_loader_primary.svg')
  }
}

.aicon_checkmark  {
  display: block;
  width: 100px;
  height: 100px;
  background: url('../img/icon_animate_checkmark.svg') 50% 50% no-repeat;
  background-size: cover;
}


.text_notice {
  font-size: 0.8em;
  color: $color-alt-darker;
}

.block_cc {
  > span {
    display: block;
  }

  .cc_holder {
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .cc_number {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 3px;
  }

  .cc_type_badge {
    display: inline-block;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 3px 5px;
    text-transform: uppercase;
    font-size: 8px;
  }

  .cc_expiry {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
  }
}

.block_shipping_rate {
  margin-bottom: 15px;

  .rate_title {
    font-weight: bold;
  }

  .rate_arrival_est {
    font-size: 0.8em;
  }
}

.site_cover {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(255,255,255,1);
  width: 100%;
  height: 100%;

  &.loading {
    .cover_loading {
      display: block;
    }
  }

  &.success {
    .cover_text {
      display: block;
      text-align: center;

      .text_title {
        font-size: 1.4em;
        color: $color-success;
        font-family: $font-secondary;
        text-transform: uppercase;
      }
    }
  }

  .cover_loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .cover_loader{
      margin: 0 0 2em;
      height: 100px;
      width: 20%;
      text-align: center;
      padding: 1em;
      margin: 0 auto 1em;
      display: inline-block;
      vertical-align: top;
    }
  }

  .cover_text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    max-width: 600px;
    font-size: 2em;
    color: #000;

    .text_icon {
      display: inline-block;
    }

    .text_title {
      font-size: 2em;
      color: $color-primary;
      font-family: $font-primary;
      text-transform: uppercase;
    }
  }
}

.share_bar {
  &.vertical {
    .jssocials-shares {
      display: flex;
      flex-flow: column;
    }
  }
}

.bk_mystore_hud {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: $font-primary;
  color: $color-primary;

  .bk_mystore_hud_icon {
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 20px;
  }

  .bk_mystore_hud_display {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }

  .bk_mystore_hud_state_icon {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
  }
}

.body_splash {
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;

  .body_header {
    text-align: center;
  }
}

.body_contain_max {
  max-width: 1000px;
  margin: 0 auto;
}

.body_section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;


  &.body_splash {
  }

  &.pad_small {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &.pad_top_small {
    padding-top: 40px;
  }

  &.pad_top_none {
    padding-top: 0;
  }

  &.pad_bottom_none {
    padding-bottom: 0;
  }

  &.bg_alt {
    background: $color-alt;
  }

  &.bg_dark {
    background: #000;
  }

  &.body_divider {
    padding: 0;
  }

  .section_header {

    &.header_links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      .section_title {
        margin-bottom: 0;
      }

      .section_link {
        color: #ccc;
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: bold;

        i {
          font-size: 0.8em;
        }
      }
    }

  }

  .section_title {
    @extend %primary_font;

    //color: $color-primary;
    margin: 0 0 30px 0;
    font-size: 20px;
    font-weight: bold;
  }

  .section_left_title {
    @extend %primary_font;

    text-align: left;
    margin: 0 0 30px 0;
    font-size: 16px;
  }

  .section_body {
    &.body_edge_right {
      padding: 0 0 0 10%;
    }

    &.bg_deco_overlay {
      position: relative;
      //padding: 0 10% 0 0;

      .overlay_bg {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
        max-width: 80%;
        max-height: 100%;

        img {
          display: block;
          width: 100%;
          max-width: 100%;
        }
      }

      .overlay_layer {
        position: relative;
        z-index: 2;
        margin: 0 auto;
        max-width: 1170px
      }
    }
  }
}

@media only screen and (max-width:800px) {
  html body .site_wrap {
    .body_section {
      //padding-top: 80px;
      //padding-bottom: 80px;

      .section_left_title {
        text-transform: uppercase;
        font-family: $font-primary;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        margin: 0 0 30px 0;
        font-size: 16px;
      }

    }
  }
}

.body_div_section {
  position: relative;

  &.div_dark_light {
    .bg_start {
      background: #000;
    }

    .bg_end {
      background: #fff;
    }
  }

  &.div_light_light {
    .bg_start {
      background: #fff;
    }

    .bg_end {
      background: #fff;
    }
  }

  .div_bg {
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 1;
    left: 0;

    &.bg_start {
      top: -1px;
    }

    &.bg_end {
      top: 50%;
    }
  }

  .div_body {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1170px;
    width: 90%;

    z-index: 2;

    img {
      display: block;
      width: 100%;
    }
  }
}


.content_section {
  margin-bottom: 40px;

  .section_title {
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: left;
  }
}


.content_deco {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;

  &.deco_light {
    .deco_header {
      color: #000;
      background: #fff;
      border-color: #000;

      .text_outline {
        color: transparent;
        -webkit-text-stroke: 2px #000;
      }
    }
  }

  .deco_header {
    position: relative;
    border: 1px solid #fff;
    border-width: 1px 0;
    padding: 30px 0;
    color: #fff;
    background: #000;

    .header_title {
      @extend %primary_font;

      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 10px 30px;
      background: inherit;
      color: inherit;
      font-size: 14px;
      white-space: nowrap;
      font-weight: bold;
    }

    .header_hero_text {
      //display: flex;
      //flex-flow: row wrap;
      //justify-content: space-between;
      text-align: center;
      color: inherit;

      &.text_lg {
        > span {
          font-size: 59px;
        }
      }

      > span {
        @extend %primary_font;

        font-weight: bold;
        font-size: 48px;
        letter-spacing: 3px;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .deco_body {
    @extend %primary_font;

    font-weight: 500;
    color: #fff;
    padding-top: 50px;

    p {
      font-size: 15px;
      line-height: 2em;
      margin-bottom: 1.7em;
    }
  }
}

@media only screen and (max-width:800px) {
  html body {

    .content_deco {

      .deco_header {
        .header_title {

        }

        .header_hero_text {
          justify-content: center;

          > span {
            font-size: 2em;
          }
        }
      }

      .deco_body {

      }
    }
  }
}



.content_landing {
  .landing_banner {
    display: block;
    position: relative;
    height: 470px;
    background-size: cover;
    background-color: #333;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    .banner_text {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 400px;
      width: 80%;
      color: #fff;
      text-align: center;

      .text_title {
        display: none;
        text-transform: uppercase;
        font-size: 3em;
      }

      .text_btn {
        margin-top: 15px;
      }
    }
  }
}


.row_center_btn {
  text-align: center;
  padding: 30px 0;
}

.text_btn {
  @extend %primary_font;

  font-size: 14px;
  color: $color-alt-darker;
  font-weight: 600;
  //letter-spacing: 1px;

  &:hover {
    text-decoration: none;
    color: #000;
  }
}

.flat_btn {
  display: inline-block;
  background: #000;
  padding: 10px 30px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.btn_flat {
  display: inline-block;
  background: #000;
  padding: 10px 30px;
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}

.btn_loader {

  &.loading {
    position: relative;

    &:before{
      content:'';
      display: block;
      position:absolute;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
      width:20px;
      height:20px;
      border: 4px solid #000;
      border-left-color: transparent;
      border-radius: 50%;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: rotate;
      animation-timing-function: linear;
    }

    &:after{
      content:'';
      display:block;
      position:absolute;
      top: 0;
      left: 0;
      height:100%;
      width:100%;
      background-color: $color-primary;
      z-index: 1;
    }
  }
}

@mixin rotate {
  0%    {
    transform: rotate(0deg);
  }
  100%  {
    transform: rotate(360deg);
  }
}

@keyframes rotate { @include rotate; }

.btn_block {
  display: block;
  width: 100%;
}

.btn_lg {
  font-size: 2em;
}

.btn {
  @extend %primary_font;

  display: inline-block;
  text-align: center;
  padding: 12px 30px;
  text-decoration: none;
  color: #fff;
  border-radius: 0;
  background-color: #000;

  &.btn_large {
    padding: 30px;
    font-size: 0.9rem;
  }

  &.btn_small {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  &.btn_block {
    display: block;
    width: 100%;
  }

  &.btn_default {
    background-color: #CCC;
    color: #333;
  }

  &.btn_primary {
    background-color: $color-primary;
    color: #000;
  }

  &.btn_facebook {
    background-color: #21538D;
  }
}

.btn.btn_status {
  position: relative;
  padding: 20px 30px 20px 60px;

  .btn_status_ind {
    position: absolute;
    left: 20px;
    width: 20px;

    svg, rect {
      fill: #fff;
    }
  }

  .btn_label {
    font-size: 0.8em;
  }
}


.image_full {
  width: 100%;
  height: auto;

}

.image_left {
  float: left;
  margin-right: 40px;
}

.label_rating {
  position: relative;
  width: 130px;
  height: 130px;
  display: block;
  background: url('../img/rating_label_shape.svg') 50% 50% no-repeat;
  background-size: contain;


  &.rating_small {
    width: 60px;
    height: 60px;

    .rating_value {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2em;
      color: #000;
    }
  }

  .rating_value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: #000;
  }

  .rating_bg {
    width: 100%;
  }
}

.box_split {
  .col_primary {

  }
}

.float_box {
  border: 0;

  &.box_white {
    background: #fff;
  }

  .box_header {
    padding: 20px;
  }

  .box_body {
    padding: 20px;
  }
}

.box_splash {
  text-align: center;
  padding: 40px 20px;

  .splash_header {
    margin-bottom: 20px;
  }

  .splash_body {
    padding: 20px 0;
  }
}

.form {
  label {
    display: block;
    text-transform: uppercase;
    font-size: 0.7em;
  }

  .form_field {
    margin-bottom: 20px;
  }

  .form_row {
    margin-bottom: 30px;

    &.row_split {
      display: flex;
      flex-flow: row wrap;

      .split_col_label {
        max-width: 150px;
        width: 100%;

        .label_title {
          font-weight: bold;
          font-size: 0.9em;
          text-transform: uppercase;
          color: #ccc;
        }
      }

      .split_col_value {
        flex-grow: 2;
      }
    }
  }

  .field_block {
    margin-bottom: 20px;
  }

  .form_row_submit {
    padding: 10px 0;
    text-align: center;

    &.submit_split {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      button {
        margin: 0;
      }
    }

    button {
      margin: 0 auto;
    }
  }

  .form_section {
    padding-bottom: 20px;
    border-bottom: 1px solid $color-alt-dark;
    margin-bottom: 20px;
  }
}

input.field {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;

  &.large {
    padding: 20px;
  }
}

textarea.field {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;

  &.large {
    padding: 20px;
  }
}

select.field {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 46px;
  width: 100%;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background: #fff;

  option {
    padding: 20px;
  }
}

.flex_table {
  border: 1px solid $color-alt-dark;

  .table_row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    > div {
      padding: 0 10px;
    }
  }

  .table_header {
    .table_row {
      border-bottom: 3px solid #ccc;
      padding-top: 20px;
      padding-bottom: 20px;

    }
  }

  .table_body {
    .table_row {
      padding: 5px 0;
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

.ph_block {
  display: block;
  background: #ccc;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  padding: 30px 0;

  &.lg {
    height: 300px;
  }
}


.nav_dot_progress {
  position: relative;
  max-width: 700px;
  width: 90%;
  margin: 50px auto;

  .progress_bar {
    position: absolute;
    top: 24%;
    left: 0;
    z-index: 0;
    width: 99%;
    height: 3px;
    margin: 0 auto;
    background-color: $color-alt-dark;

    .bar_progress {
      height: 100%;
      width: 0%;
      background-color: $color-primary;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

  .progress_item {
    position: relative;
    text-align: center;
    min-width: 55px;

    &.complete {
      .item_icon {
        background-color: $color-primary;
        border-color: $color-primary;

        i {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
          font-size: 1em;
        }
      }
    }

    &.active {
      .item_icon {
        border-color: $color-primary;
        background-color: #fff;
      }

      .item_label {
        font-weight: bold;
        color: #666;
      }
    }

    &:last-child {
      text-align: right;
    }

    &:first-child {
      text-align: left;
    }

    .item_icon {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid $color-alt-dark;
      background-color: #fff;
      color: #fff;

      i {
        display: none;
      }
    }

    .item_label {
      display: block;
      text-transform: uppercase;
      font-size: 0.7em;
      color: #888;
      //transform: translateX(-50%);
    }
  }
}

.nav_progress {
  position: relative;
  max-width: 700px;
  width: 90%;
  margin: 50px auto;

  .progress_bar {
    position: absolute;
    top: 24%;
    left: 0;
    z-index: 0;
    width: 99%;
    height: 5px;
    margin: 0 auto;
    background-color: #ccc;

    .bar_progress {
      height: 100%;
      width: 50%;
      background-color: $color-primary;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }

  .progress_item {
    position: relative;
    text-align: center;

    > &.complete {
      .item_icon {
        background-color: $color-primary;
        border-color: $color-primary;

        i {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
          font-size: 1em;
        }
      }
    }

    &.active {
      .item_icon {
        border-color: $color-primary;
        background-color: #fff;
      }

      .item_label {
        font-weight: bold;
        color: #666;
      }
    }

    &:last-child {
      text-align: right;
    }

    &:first-child {
      text-align: left;
    }

    .item_icon {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 5px solid #ccc;
      background-color: #ccc;
      color: #fff;

      i {
        display: none;
      }
    }

    .item_label {
      display: block;
      text-transform: uppercase;
      font-size: 0.7em;
      color: #888;
    }
  }
}

.dialog_clean {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 90%;
  max-width: 800px;
  margin: 20px 0;
  background: $color-alt;
  border-radius: 0;

  &.dialog_loading {
    width: 200px;
    height: 200px;
    overflow: hidden;

    .dialog_loader {
      display: block;
    }

    md-dialog-content {
      display: none;
    }
  }

  &.dialog_successful {
    width: 400px;
    height: 200px;
    overflow: hidden;

    .dialog_success {
      display: block;
    }

    .dialog_loader {
      display: none;
    }

    md-dialog-content {
      display: none;
    }
  }

  md-dialog-content {

  }

  .dialog_success {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;

    .success_msg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      .msg_icon {
        display: inline-block;
        width: 90px;
        height: 90px;
        margin-bottom: 20px;
      }

      .msg_text {
        @extend %primary_font;
        color: #000;
        font-weight: 500;
        font-size: 1em;
        text-transform: uppercase;

      }
    }
  }

  .dialog_loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;

    .loader_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .dialog_body {
    padding: 25px 5%;

    .body_header {
      margin-bottom: 40px;

      .header_title {
        font-size: 1.6em;
      }
    }
  }

  .dialog_footer {
    display: flex;
    justify-content: center;
    padding: 20px;

    button {
      margin: 0 10px;
    }
  }
}
