@mixin gradient($c1, $c2) {
  background: $c1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, $c1, $c2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, $c1, $c2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html, body {
  background: transparent;
}

.site_wrap {
  h1,h2,h3,h4,h5 {
    small {
      display: block;
      font-size: 0.8em;
      margin: 5px 0 20px;
      line-height: 1.3em;
    }
  }
}


address {
  > span {
    display: block;
  }
}

p.large {
  font-size: 1.3em;
}

.info_table {
  th {
    text-align: left;
  }
}
.content_section {
  margin-bottom: 40px;
}

.row_tiles {
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  border-top: 1px solid #ccc;

  .tile_item {
    width: 25%;
    padding: 15px 5% 15px;
    border-right: 1px solid #ccc;
    text-align: center;

    .item_icon {
      height: 150px;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 130px;
        margin-bottom: 15px;
      }
    }

    &:nth-child(even) {
      background: rgba(0,0,0,0.05);
    }

    &:last-child {
      border-right: 0;
    }

    .item_title {
      text-align: center;
      color: rgba(0,0,0,0.6);
      padding: 20px 0;
      font-size: 1.2em;
      text-transform: uppercase;
    }

    p {
    }
  }
}

.content_wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.page__menu {
  ul {
    ul {
      display: none;
    }
  }
}




.cat_link_grid {
  a {
    display: block;
    padding: 130px 0;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    background: #eee;
    transition-duration: 1s;

    &:hover {
      background: #000;
      color: #fff;
    }
  }
}

.shop_home_section {
  margin-bottom: 50px;

  .section_header {
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 40px;
  }

  .section_title {
    font-size: 2em;
  }
}

.home_block {
  display: block;
  background: #ccc;
  text-align: center;

  &.large {
    padding: 200px 0;
    font-size: 2em;
    color: #333;
    margin-bottom: 25px;
  }

  &.small {
    padding: 100px 0;
    font-size: 2em;
    color: #333;
  }
}

.checkout_billing_method_summary {

}

.image_center {
  text-align: center;

  img {
    display: inline-block;
  }
}



.shop_cat_nav {
  display: flex;
  flex-flow: row nowrap;

  a {
    display: block;
    flex-grow: 1;
    margin: 0 15px;

    img {
      opacity: 1;
    }

    &.selected {
      img {
        opacity: 0.2;
      }
    }
  }


}


.browse_more_wrap {
  text-align: center;
  padding: 40px 0;
}

.product__title {
  text-transform: uppercase;
}

.product__quick_summary {
  text-transform: uppercase;
}

.product__description .product__composition .chart p {
  text-transform: uppercase;
}

.product_strains {
  .strain_badge {
    background-color: #1b6d85;
    text-align: center;
    padding: 20px;

    .badge_label {
      font-size: 3em;
      color: #fff;
    }

    .badge_title {
      font-size: 0.9em;
      color: rgba(255,255,255,0.6);
    }
  }
}




.browse_filters {
  nav {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 10px;

    a {
      display: block;
      padding: 10px 20px;
      border: 1px solid #000;
      margin-left: 20px;
      color: #000;
      text-transform: uppercase;

      &.selected {
        background: #000;
        color: #fff;
      }
    }
  }

  .filters_row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &.sub {
      nav {
        a {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          padding: 8px 15px;
          margin-left: 20px;
          font-size: 0.8em;

          i {
            font-size: 1.5em;
            color: rgba(0,0,0,0.3);
            margin-right: 15px;
          }

          &.selected {
            background: #000;
            color: #fff;

            i {
              color: #599159;
            }
          }
        }
      }
    }
  }
}

.effects_select_grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 50px 0;

  .grid_item {
    width: 200px;
    height: 140px;
    background: #ccc;
    margin: 10px;
    position: relative;

    .item_inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .item_icon {
      font-size: 3em;
    }

    .item_title {
      font-size: 1.2em;
      text-transform: uppercase;
    }

    .item_select_cover {
      display: none;
    }

    &.selected {
      .item_select_cover {
        position: absolute;
        z-index: 99;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255, 0.7);
        display: block;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 4em;
          color: #599159;
        }
      }
    }
  }
}


.browse_filters {
  position: relative;

  .filters_menu {
    position: absolute;
    z-index: 99;
    width: 100%;
    background: #666;
    display: flex;
    flex-flow: row wrap;
    justify-items: stretch;
    align-items: stretch;
    border-bottom: 1px solid #eee;
    margin: 0 0 60px 0;
    padding-bottom: 10px;

    .menu_filter {
      border-right: 1px solid #eee;
      padding: 10px;
      flex-grow: 1;

      .filter_label {
        display: block;
        color: #555;
        font-size: 0.7em;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }

      .filter_value {
        display: block;
        color: #333;
        font-size: 0.9em;
        font-weight: bold;
      }

      &.large {
        flex-grow: 2;
      }
    }

    .menu_submit {
      flex-grow: 1;

      .btn {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .filters_display {
    display: flex;
    flex-flow: row wrap;
    justify-items: stretch;
    align-items: stretch;
    border-bottom: 1px solid #eee;
    margin: 0 0 60px 0;
    padding-bottom: 10px;

    .filter_item {
      border-right: 1px solid #eee;
      padding: 10px;
      flex-grow: 1;

      .filter_label {
        display: block;
        color: #555;
        font-size: 0.7em;
        letter-spacing: 0.5px;
        text-transform: uppercase;
      }

      .filter_value {
        display: block;
        color: #333;
        font-size: 0.9em;
        font-weight: bold;
      }

      &.large {
        flex-grow: 2;
      }
    }

    .filter_submit {
      flex-grow: 1;

      .btn {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

}

.grid_scroller {
  position: relative;

  .scroller_nav {
    position: fixed;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;

    .nav_item {
      display: block;
      padding: 10px 0;
      text-align: center;
      color: #fff;
      font-size: 1.2em;
    }

    .nav_arrow {
      font-size: 1.8em;
      text-align: center;
    }

    .nav_pages {
      .nav_item {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 5px solid #333;
        padding: 0;
        margin-bottom: 10px;

        &.active {
          border-color: #5e9a2e !important;
        }

        &.complete {
          border-color: #15629a;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .scroller_page {
    //display: none;
    //background: #ccc;

    &.visible {
      display: block;
    }
  }
}

.products_grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .product_item {
    width: 30%;
    margin-bottom: 50px;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;

    .item_mobile_btn {
      display: none;
    }

    .item_image_wrap {
      min-height: 150px;
    }

    .product_image {
      padding: 0 30px 30px 30px;
      max-width: 100%;
    }

    .product_title {
      font-size: 1.3em;
      color: #000;
      text-transform: uppercase;
    }

    .product_summary {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      text-transform: uppercase;
      color: rgba(0,0,0,0.7);
      font-size: 0.7em;

      .summary_item {
        border-right: 1px solid currentColor;
        margin-right: 10px;
        font-size: 1.1em;
        line-height: 1em;
        padding-right: 10px;

        &.icon_effect {
          background: url('/static/img/effect-2.png') 0 50% no-repeat;
          background-size: contain;
          padding-left: 25px;
        }

        &.icon_strain {
          background: url('/static/img/effect-1.png') 0 50% no-repeat;
          background-size: contain;
          padding-left: 25px;
        }
      }

      .summary_item:last-child {
        border-right: 0;
        margin-right: 0;
      }

    }
  }
}


.pagination {
  margin-top: 40px;
  float: right;
  position: relative;
  left: -50%;
  text-align: left;

  ul {
    list-style: none;
    position: relative;
    left: 50%;

    li {
      background-color: #eee;
      border: none;
      border-radius: 3px;
      margin: 0 10px;

      &.active {
        background-color: black;

        a {
          color: white;
        }
      }

      a {
        color: #d0d0d0;
        padding: 7px 15px;

        &:hover {
          background-color: black;
          color: white;
          border-radius: 3px;
        }
      }
    }
  }
}


.checkout_action_row {
  text-align: right;
  padding: 40px 0;

  .btn {
    display: inline-block;
  }
}

// variables
$multilevel-accordion-bg: #4d5158;
$multilevel-accordion-sub-bg: #35383d;
$multilevel-accordion-separator: #41444a;

.multilevel-accordion-menu {
  background: $multilevel-accordion-bg;

  // background for main accordion items
  .is-accordion-submenu-parent {

  }

  // background for sub accordion items
  .is-accordion-submenu a {
    //background: $multilevel-accordion-sub-bg;
  }


  li {
    > ul {
      background: rgba(0,0,0,0.3);
    }
  }

  a {
    color: #fff;
    // sets accodion item separator color
    box-shadow: inset 0 -1px $multilevel-accordion-separator;

    &::after {
      // sets accodion arrow color and direction
      border-color: #fff transparent transparent;
    }
  }

  // padding for each list item
  .menu > li:not(.menu-text) > a {
    padding: 1.2rem 1rem;
  }
}

// style for folder icon on subitem anchors without a submenu
.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a.subitem::before {
  content: "\f016";
  font-family: FontAwesome;
  margin-right: 1rem;
}

// changes folder icon to open then accordion is open
.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="true"] a {
  &::before {
    content: "\f07c";
    font-family: FontAwesome;
    margin-right: 1rem;
  }
}

// changes folder icon to closed then accordion is closed
.multilevel-accordion-menu .is-accordion-submenu-parent[aria-expanded="false"] a {
  &::before {
    content: "\f07b";
    font-family: FontAwesome;
    margin-right: 1rem;
  }
}

