@media only screen and (max-width:800px) {
    html body {

    .products_grid {
      display: block;

      .product_item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
        border-bottom: 1px solid #ccc;
        padding: 20px 0;
        text-align: left;

        .item_mobile_btn {
          display: block;
          padding: 10px;

          i {
            font-size: 2em;
          }
        }

        .item_image_wrap {
          width: 40%;
          padding: 10px;

          img {
            width: 100%;
          }
        }

        .product_image {
          padding: 0 10px;
        }

        .item_info {
          flex-grow: 2;
        }

        .product_title {
          font-size: 0.9em;
          color: #000;
          text-transform: uppercase;
        }

        .product_summary {
          display: flex;
          flex-flow: column;
          text-transform: uppercase;
          color: rgba(0,0,0,0.7);
          font-size: 0.7em;

          .summary_item {
            border-right: 0;
            padding: 0;
            margin-bottom: 10px;
            font-size: 1.1em;
            line-height: 1em;

            &.summary_price {
              margin-top: 10px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}