h4, .h4 {
  font-weight: 700;
  text-transform: uppercase;
}

h5, .h5 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h6, .h6 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}