.footer_tabbar {
  position: fixed;
  bottom: -2px;
  left: 0;
  z-index:999;
  width:100%;
  height: 70px;
  padding-top: 5px;
  overflow: hidden;

  .tabbar_nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    height: 100%;
    background: #eee;
    border-top: 1px solid rgba(0,0,0, 0.6);

    .nav_item {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      border-right: 1px solid rgba(0,0,0, 0.6);
      text-align: center;
      flex: 1;

      &.open {

        .item_icon {
          &.closed {
            display: none;
          }

          &.opened {
            display: flex;
          }
        }
      }

      &:first-child {

      }

      &:last-child {
        border-right: 0;
      }


      .item_icon {
        display: flex;
        align-items: center;
        min-height: 42px;

        &.closed {
          display: flex;
          align-items: center;
          min-height: 42px;
        }

        &.opened {
          display: none;
        }
      }

      .item_label {
        display: block;
        font-size: 0.6em;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.block_splash {
  color: #fff;
  text-align: center;

  .block_title {
    font-size: 2.2em;
    font-family: $font-primary;
  }

  .block_text {
    font-size: 1.3em;
    margin-bottom: 20px;
  }

  .block_body {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}

.site_footer {
  background: #eee;
  margin-top: 200px;
  padding: 0 110px 70px 110px;

  .footer_col {

  }

  .footer_meta {

  }

  .footer_newsletter_block {
    width: 96%;
    max-width: 1000px;
    margin: 0 auto;
    transform: translateY(-100px);
    background-color: $color-primary;
    padding: 60px 100px;
  }

  .footer_links {
    padding: 0;

    .links_title {
      color: #222;
      margin-bottom: 20px;
    }

    .links_nav {
      margin-bottom: 20px;

      a {
        @extend %primary_font_demi;

        display: block;
        color: #444;
        font-size: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .footer_newsletter {
    color: #fff;
    margin-bottom: 30px;

    img {
      width: 60px;
    }

    p {
      font-size: 0.9em;
      color: rgba(255,255,255,0.6);
      margin: 15px 0 30px 0;
    }

    input.field {
      padding: 10px;
    }
  }
}

.site_footer_bar {
  background-color: #000;
  padding: 30px;
}

.newsletter_signup_form {
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;

  input {
    flex-grow: 2;
  }

  .btn {
    background-color: #000;
    color: #fff;
  }
}

.ig_label {
  @extend %primary_font;

  font-size: 0.7em;
  color: #fff;
}

@media only screen and (max-width:1000px) {
  html body {
    .site_footer {
      padding-left: 50px;
      padding-right: 50px;


      .footer_newsletter {
        padding: 50px;
        text-align: center;

        img {
          width: 100px;
        }
      }

      .footer_links {
        padding: 20px 0;
      }
    }
  }
}


@media only screen and (max-width:800px) {
  html body {
    .site_footer {
      .footer_newsletter {
        padding: 10px;

        .newsletter_signup_form {
          flex-flow: row wrap;

          .field {
            margin-bottom: 10px;
          }
        }

        input {
          width:100%;
        }

        button {
          width: 100%;
        }
      }

      .footer_links {
        text-align: center;
      }
    }
  }
}