nav {
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.sticky_menu {

}

.customer_hud_nav {
  display: flex;

  a {
    @extend %primary_font;

    display: block;
    color: #000;
    padding: 10px 20px;
    font-size: 0.6em;
  }
}

.header_logo {
  font-size: 1.3em;
  color: $color-primary;
  font-weight: bold;
  font-family: $font-primary;
}

.site_header {
  background: #fff;
  //border-bottom: 2px solid #4B4B4B;
  z-index: 9;



  .header_bar_top {
    background-color: #fff;
    padding-left: 120px;

    .top_bar_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .top_nav {
      display: flex;

      a {
        @extend %primary_font;

        display: block;
        color: #000;
        padding: 10px 20px;
        font-size: 0.6em;
        font-weight: 500 !important;
      }

      .current-menu-item {
        a {
          color: rgba(0,0,0,0.5);
        }
      }
    }

    .top_customer_hud {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      padding-right: 30px;
    }
  }

  .header_bar_main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid #ccc;

    .main_logo {
      display: flex;
      flex-flow: column;
      justify-items: center;
      align-items: center;
      padding: 30px 35px 30px 0;
      //border-right: 2px solid #4B4B4B;

      a {
        display: block;
      }

      img {
        width: 100%;
      }
    }

    .main_nav_wrap {
      flex-grow: 2;

      .main_nav {
        padding-right: 140px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        a {
          @extend %primary_font;

          display: block;
          padding: 0 20px;
          color: #555;
          font-size: 0.8em;
          font-weight: 500ß;
        }

        .current-menu-item {
          a {
            color: $color-primary;
          }
        }
      }
    }

    .main_actions {
      display: flex;
      flex-flow: row nowrap;
      padding-right: 30px;

      .action_search {
        i {
          font-size: 1.4em;
          padding: 0 20px;
          color: #fff;
        }
      }

      .action_mobile_menu {
        padding-left: 50px;

        i {
          font-size: 2.3em;
          color: #fff;
        }
      }
    }
  }
}

.site_header_mobile {
  background: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #ccc;

  .header_logo {
    font-size: 1.5em;
    color: #000;
    font-weight: bold;
    font-family: $font-primary;
  }

  a {
    display: inline-block;
  }

  .mobile_logo {

  }
}

.mobile_side_menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
}

.mobile_side_menu {
  border-left: 1px solid #fff;

  .menu_close {
    position: absolute;
    display: block;
    top: 40px;
    left: 0;
    transform: translateX(-100%);
    border: 1px solid #fff;
    background: #000;
    padding: 20px;

    i {
      font-size: 1.5em;
      color: #fff;
      font-weight: normal;
    }
  }

  .menu_header {
    background: #000;
    padding: 10px 40px;
    border-bottom: 1px solid rgba(255,255,255,0.5);

    a {
      display: block;
      width: 50px;

      img {
        display: block;
        width: 100%;

      }
    }
  }

  .menu_nav {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        //border-bottom: 1px solid rgba(255,255,255,0.3);
        //background: #000;

        a {
          //@extend %primary_fon;
          font-family: $font-primary;
          display: block;
          padding: 20px 40px;
          color: #9B9B9B;
          text-transform: uppercase;
          font-size: 16px;
          text-align: left;
          font-weight: 500;
          letter-spacing: 2.33px;
        }
      }
    }
  }
}


