.about_core_text {
  padding-bottom: 20px;
}

.section_banner {
  display:block;
  position: relative;


  .banner_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  > img {
    width: 100%;
  }

  &.banner_sub {
    .banner_text {
      top: 95%;

      .text_title {
        color: #fff;
        font-size: 1.1em;
      }

      .text_sub {
        color: #fff;
        font-size: 1.2em;
        font-weight: 500;
      }
    }

  }

  &.banner_hero {

    .banner_text {
      z-index: 2;

      .text_title {
        color: #fff;
        font-size: 48px;
      }

      .text_sub {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
      }

      .text_section {
        margin-top: 40px;
      }

      .text_btn {
        font-size: 14px;
        font-weight: 600;
        padding: 12px 50px;
      }
    }

  }
}

@media only screen and (max-width:800px) {
  html body {
    .section_banner.banner_hero {
      position: relative;
      overflow-x: hidden;
      height: 500px;

      > img {
        width: auto;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}


.home_featured_scroller {
  background: #000;
  height: 600px;

  .scroller_item {
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;

    .item_content {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      width: 80%;
      max-width: 500px;

      .content_title {
        color: #fff;
        font-size: 2.5em;
        text-align: left;
        font-weight: bold;
        margin-bottom: 20px;
        font-family: $font-primary;
        letter-spacing: 0.1em;
        line-height: 1.6em;
      }

      .content_text {
        text-align: left;
        margin-bottom: 40px;
        font-size: 1.6em;
        color: rgba(255,255,255,0.7);
      }
    }
  }
}

.home_blog_roll {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  a {
    display: block;
    padding: 20px;
    width: 25%;
    min-width: 150px;

    img {
      width: 100%;

    }
  }
}

.home_products_new_grid {


  .grid_item {
    position: relative;
    margin-bottom: 26px;

    .item_link {
      display: block;
      position: relative;
    }

    img {
      display: block;
      width: 100%;
    }

    .link_label {
      position: absolute;
      bottom: 24px;
      left: 24px;

      .label_brand {
        @extend %primary_font;

        display: none;
        font-size: 0.8em;
        color: #fff;
        margin-bottom: 4px;
      }

      .label_title {
        @extend %primary_font;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 2px;

        &:after {
          display: block;
          border-bottom: 2px solid $color-primary;
          content: '';
          width: 50px;
          margin: 5px 0 0 0;
        }
      }
    }
  }
}

.about_core_texts {
  display: flex;
  flex-flow: row wrap;
  max-width: 1170px;
  margin: 0 auto;
  width: 90%;

  .about_core_text {
    width: 50%;
    padding: 0 40px 0 0;

    &:last-child {
      padding: 0 0 0 40px;
    }
  }

  p {
    font-family: $font-secondary;
    font-weight: 200;
    font-size: 18px;
    line-height: 2em;
  }
}

@media only screen and (max-width:800px) {
  html body {
    .about_core_texts {
      .about_core_text {
        width: 100%;
        padding: 0;
        text-align: center;
        margin-bottom: 50px;

        &:last-child {
          padding: 0;
        }
      }

      p {

      }
    }
  }
}

.home_about {
  .about_blocks {

    .about_block {
      position: relative;
      margin-bottom: 50px;
      width: 60%;

      .block_image {
        display: block;
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        left: 40%;
      }

      .block_text {
        position: absolute;
        bottom: 30px;
        left: 30px;
        font-size: 30px;
        font-family: $font-primary;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        max-width: 500px;

        &:after {
          display: block;
          width: 150px;
          height: 5px;
          content: ' ';
          background: $color-primary;
          margin-top: 15px;
        }
      }
    }
  }
}


.home_featured_brands {
  .brand_item {
    position: relative;
    border-bottom: 2px solid #DCDCDC;
    max-width: 1500px;
    margin: 0 auto 50px auto;

    &:last-child {
      border-bottom: 0;
    }

    &:nth-child(even) {
      .item_banner_row {
        .item_banner {
          display: flex;
          flex-flow: row-reverse nowrap;
        }
      }

      .item_info_row {
        padding: 20px 0 20px 250px;

        .item_info {
          .info_col:last-child {
            border-right: 0;
          }

          .info_rating {
            order: 4;
          }
        }
      }

      .banner_logo {
        position: absolute;
        display: block;
        top: 70%;
        right: auto;
        left: 0;
      }
    }

    .banner_logo {
      position: absolute;
      display: block;
      top: 70%;
      right: 0;
      width: 120px;
      height: 120px;
      background: #FF2233;
      z-index: 3;
    }

    .item_banner_row {
      position: relative;

      .banner_logo {
        position: absolute;
        display: block;
        top: 85%;
        right: 0;
        width: 230px;
        height: 230px;
        background: #fff;
        z-index: 3;
        box-shadow: 5px 4px 17px -3px rgba(0,0,0,0.23);

        img {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 60%;
          max-height: 60%;
        }
      }

      .item_banner {
        display: flex;

        .banner_col_image {
          //width: 80%;

          img {
            width: 100%;
          }
        }

        .banner_col_title {
          display: flex;
          flex-flow: column;
          align-content: center;
          width: 90px;
          padding: 20px 0 9% 0;
          flex: 1;

          .title_text {
            display: block;
            font-size: 1.5em;
            font-family: $font-primary;
            font-weight: 600;
            text-transform: uppercase;
            min-height: 100px;
            margin-bottom: 20px;
          }

          .text_vertical {
            display: block;
            transform: rotate(0.25turn);
          }

          .title_deco_line {
            display: block;
            flex: 1;
            width: 1px;
            height:100%;
            background: #DCDCDC;
            margin: 0 auto;
          }
        }
      }
    }

    .item_info_row {
      padding: 20px 250px 20px 0;
      min-height: 200px;
      display: flex;
      flex-flow: column;



      .item_info {
        display: flex;
        flex: 1;
        flex-flow: row wrap;

        .info_col {
          border-right: 1px solid rgba(0,0,0,0.1);
          padding: 10px 20px;

          &:last-child {
            //border-right: 0;
          }

          .col_title {
            display: block;
            text-transform: uppercase;
            font-size: 0.8em;
            font-family: $font-primary;
            font-weight: 600;
            margin-bottom: 10px;
          }
        }

        .info_desc {
          flex: 40%;
          order: 1;
          .desc_text {
            font-size: 0.9em;
          }

        }

        .info_top_products {
          flex-grow: 1;
          order: 2;

          .top_products_list {
            margin: 0;
            padding: 0 0 0 20px;

            li {
              font-size: 0.7em;
              text-transform: uppercase;
              margin-bottom: 5px;
            }
          }
        }

        info_rating {
          order: 0;
        }
      }

    }
  }
}

@media only screen and (max-width:800px) {
  html body {
    .home_featured_brands .brand_item .item_info_row .item_info .info_col {
      order: 4;
    }

    .home_featured_brands {
      .brand_item {
        &:last-child {
          border-bottom: 0;
        }

        &:nth-child(even) {
          .item_banner_row {
            .item_banner {
              display: flex;
              flex-flow: row nowrap;
            }
          }

          .item_info_row {
            padding: 0;

            .item_info {
              .info_col:last-child {
                border-right: 0;
              }

              .info_rating {
                order: 4;
              }
            }
          }

          .banner_logo {
            position: absolute;
            display: block;
            top: 70%;
            right: auto;
            left: 0;
          }
        }
      }
    }
  }
}



.blog_tab_viewer {

  .nav_mobile_scroll {
    margin-bottom: 20px;

    .scroll_btn {
      background: transparent;
    }

    .scroll_track {
      padding: 0;
    }
  }

  .viewer_tabs {
    border: solid #DCDCDC;
    border-width: 2px 0 0 0;
  }


  .tabs_nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow-x: auto;
    width: 100%;

    .tab_item {
      display: block;
      flex: 1;
      padding: 0;
      border-bottom: 2px solid #DCDCDC;
      //margin-bottom: -2px;
      text-align: center;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.active {
        border-bottom: 2px solid $color-secondary;

        a {
          color: $color-secondary;
          font-weight: bold;
        }
      }
    }

    a {
      @extend %primary_font_demi;

      color: $color-dark;
      -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
      transition: color 1s;
      text-transform: uppercase;
      font-size: 11px;
      white-space: nowrap;
      padding: 20px 35px;

      &:hover {
        color: $color-secondary;
        text-decoration: none;
      }
    }
  }

  .viewer_body {
    .body_tab {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

@media only screen and (max-width:800px) {
  html body {

    .blog_tab_viewer {
      .tabs_nav {
        .tab_item {
          a {
            font-size: 10px;
            padding: 15px 20px;
          }
        }
      }
    }

    .section_banner {
      position: relative;

      .banner_text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
      }

      &.banner_sub {
        .banner_text {
          top: 50%;

          .text_title {
            font-size: 1em;
          }

          .text_sub {
            font-size: 0.8em;
          }
        }

      }

      &.banner_hero {

        .banner_text {
          .text_title {
            font-size: 1.7em;
          }

          .text_sub {
            font-size: 0.8em;
          }
        }

      }
    }

    .body_section {

      .section_body {

        &.bg_deco_overlay {
          position: relative;
          padding: 0 10% 0 0;

          .overlay_bg {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: 1;
            max-width: 100%;
            width: 100%;
            max-height: 100%;

            img {
              display: block;
              width: 100%;
              max-width: unset;
            }
          }

          .overlay_layer {
            position: relative;
            z-index: 2;
            padding: 0 0 0 0;
          }
        }
      }
    }

    .home_about {

      .body_section {
        .bg_deco_overlay {
        }
        .overlay_bg {
          max-width: 100%;
        }

        .overlay_layer {
          padding: 0;
        }
      }

      .about_blocks {

        .about_block {
          position: relative;
          margin: 0 auto 40px auto;
          width: 95%;

          .block_image {
            display: block;
            width: 100%;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &:nth-child(even) {
            left: 0;
          }

          .block_text {
            position: absolute;
            bottom: 30px;
            left: 30px;
            font-size: 1.6em;
            font-family: $font-primary;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
          }
        }
      }
    }

    .home_featured_brands {
      .brand_item {
        position: relative;
        margin-bottom: 50px;

        &:nth-child(even) {
          .item_info_row {
            padding: 30px 0;
          }
        }

        .item_banner_row {

          .banner_logo {
            position: absolute;
            top: auto;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 120px;
            height: 120px;

          }

          .item_banner {
            .banner_col_title {
              display: flex;
              flex-flow: column;
              align-content: center;
              width: 20px;
              padding: 0;
              flex: 1;

              .title_text {

                font-size: 0.8em;
                min-height: 100px;
                margin-bottom: 20px;
              }

              .text_vertical {
                display: block;
                transform: rotate(0.25turn);
              }

              .title_deco_line {
                display: block;
                flex: 1;
                width: 2px;
                height:100%;
                background: #000;
                margin: 0 auto;
              }
            }
          }
        }

        .item_info_row {
          padding: 30px 0;
          min-height: 200px;




          .item_info {
            display: flex;

            .info_top_products {
              flex: 40%;

              .top_products_list {
                margin: 0;
                padding: 0 0 0 20px;

                li {
                  font-size: 0.7em;
                  text-transform: uppercase;
                  margin-bottom: 5px;
                }
              }
            }

            info_rating {
              flex: 60%;
            }

            .info_desc {
              text-align: center;
              flex: 100%;
              border-bottom: 1px solid rgba(0,0,0,0.1);
              border-right: 0;
              margin-bottom: 20px;
              padding-bottom: 20px;

              .desc_title {
                display: block;
                text-transform: uppercase;
                margin-bottom: 20px;
              }

              .desc_text {

              }
            }
          }
        }
      }
    }

  }
}

.home_blog_overview {
  .overview_item {
    margin-bottom: 30px;

    .item_info {
      .info_date {
        display: block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        color: #ccc;
        margin: 0;
      }

      .info_title {
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0 30px 0;
        font-size: 2em;
      }

      .info_text {

      }
    }

    .item_image {
      width: 100%;
    }
  }
}

.home_featured_strain {

}

.home_brands_banner {
  position: relative;
  text-align: center;
  padding: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  .banner_content {
    padding: 80px;
  }

  .banner_title {
    color: #fff;
    margin-bottom: 30px;
  }
}

.brand_logo_group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

  .group_item {
    padding: 40px;
    max-width: 260px;
    min-width: 200px;
    width: 20%;

    img {
      display: block;
      max-width: 100%;
    }
  }
}

.home_landing_nav {
  background: #fff;
  border-bottom: 1px solid #ccc;

  .landing_nav {
    display: flex;
    justify-content: center;

    .nav_item {
      display: flex;
      flex-flow: column nowrap;
      padding: 40px 20px;
      text-transform: uppercase;
      color: #777;
      font-size: 0.8em;
      border-right: 1px solid #ccc;
      max-width: 300px;
      width: 22%;

      &:first-child {
        border-left: 1px solid #ccc;
      }

      &:hover {
        background-color: $color-primary;
        color: #000;
        text-decoration: none;
      }

      .item_icon {
        display: block;
        width: 60%;
        flex: 60%;

        path {
          stroke: #000;
        }

      }

      .item_title {

        margin-top: 10px;
        width: 50%;
        display: block;
        font-size: 2em;
        line-height: 1.2em;
      }

      .item_mobile_btn {
        display: none;
      }
    }
  }
}

@media only screen and (max-width:800px) {
  html body {

    .home_landing_nav {
      background: #fff;
      border-bottom: 1px solid #ccc;

      .landing_nav {
        display: flex;
        flex-flow: column;
        justify-content: center;

        .nav_item {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          padding: 10px 20px;
          text-transform: uppercase;
          color: #777;
          font-size: 0.8em;
          border-right: 0;
          border-top: 1px solid #ccc;
          max-width: 100%;
          width: 100%;

          &:first-child {
            border: 0;
          }

          &:hover {
            background-color: $color-primary;
            color: #000;
            text-decoration: none;
          }

          .item_icon {
            display: block;
            width: 60px;
            flex: 0;

            path {
              stroke: #000;
            }

          }

          .item_title {
            margin-top: 0;
            width: auto;
            flex-grow: 2;
            display: block;
            font-size: 2em;
            line-height: 1.2em;
            padding: 0 20px;
          }

          .item_mobile_btn {
            display: block;
            padding: 0 20px;

            i {
              font-size: 2em;
            }
          }
        }
      }
    }

  }
}