.dispensaries_map {
  display: flex;
  align-items: stretch;
  height:100%;

  .map_controls {
    width: 300px;
  }

  .map_stage {
    flex-grow: 2;
    height:100%;
  }
}

ng-map {width:100%; height:500px;}