.register_header {
  margin-bottom: 50px;
  border-bottom: 2px solid $color-alt;
}

.register_actions_row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 50px;

  .action_btn_back {
    width: 40%;
  }

  .action_btn_submit {
    width: 55%;
  }
}

.customer_meta_row {
  text-align: center;
  margin-bottom: 60px;

  .meta_label {

  }

  .meta_instruct {
    font-size: 0.8em;
    max-width: 900px;
    width: 90%;
    margin: 0 auto 20px;
  }

  .meta_field {
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
  }
}