.review_rating {
  .label_rating {
    margin: 15px auto;
  }

  //.rating_title {
  //  text-align: center;
  //  font-size: 1.4em;
  //  text-transform: uppercase;
  //  font-family: $font-primary;
  //  color: #000;
  //  font-weight: 500;
  //}
}

.review_write_btn {
  margin: 30px 0;
  text-align: center;
  color: #fff;

  a {
    font-size: 2em;
    color: #fff;
  }

}

.reviews_viewer {
  .viewer_filters {

  }

  .viewer_body {

  }

  .viewer_items {
    .viewer_item {
      display: flex;
      background: #fff;
      padding: 40px;
      margin-bottom: 50px;

      .item_review_main {
        display: flex;
        flex-flow: column;
        margin-left: 30px;
        padding: 0 30px;
        border-left: 1px solid $color-alt-dark;
        flex: 1;

        .item_review_main_header {
          display: flex;
          justify-content: flex-start;

          .meta_rating_overall {
            width: 30px;
            margin-right: 20px;

            .label_rating.rating_small {
              width: 40px;

              .review_rating_value {
                //font-family: $font-primary;
                font-family: "Termina", sans-serif;
                font-weight: 700;
                font-size: 1em;
              }
            }
          }

          .author_date {
            display: block;
            text-transform: uppercase;
            font-family: $font-secondary;
            text-align: left;
            font-size: 0.9em;
            color: $color-alt-darker;
            margin: auto 0;
          }
        }

        .item_review_main_body {
          margin-top: 15px;

          .item_review_title {
            font-size: 1em;
            //font-family: $font-primary;
            font-family: "Termina", sans-serif;
            color: #000;
            font-weight: 700;
          }

          .item_review_comment {
            flex: 1;
            font-size: 1em;
            line-height: 1.4em;
            color: #444;
          }
        }

      }

      .item_review_meta {
        width: 300px;

        .meta_header {
          display: flex;
          flex-flow: row nowrap;
          margin-bottom: 20px;

          .meta_author {
            display: flex;
            justify-content: flex-start;

            .author_image {
              width: 50px;
              margin-right: 15px;

              img {
                width: 100%;
                border-radius: 90px;
              }
            }

            .author_info {
              margin: auto 0;

              .author_name {
                display: block;
                text-transform: uppercase;
                //font-family: $font-primary;
                font-family: "Termina", sans-serif;
                font-weight: 700;
                text-align: left;
                font-size: 1em;
                color: #333;
              }

              .author_location {
                font-size: 0.8em;
                color: #999;
              }
            }
          }
        }
      }
    }
  }
}

.review_images {
  display: flex;
  margin: 30px 0 -20px 0;

  .review_image_item {
    margin: 0 20px 20px 0;

    img {
      display: block;
      width: 100%;
      max-width: 150px;
      max-height: 150px;
    }
  }
}

.meta_ratings {
  .rating_item {
    margin-bottom: 20px;

    .rating_label {
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
    }
  }
}

.rating_scale {
  display: flex;
  align-items: center;

  .scale_label {
    color: #999;
    font-size: 0.7em;
    text-transform: uppercase;
  }

  .scale_bar {
    position: relative;
    flex-grow: 2;
    margin: 0 10px;

    .bar_line {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      transform: translateY(-50%);
      width: 100%;
      height: 3px;
      background-color: #ccc;
    }

    .bar_point {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 2;
      transform: translate(-50%, -50%);
      width: 9px;
      height: 9px;
      background: #333;
      border-radius: 50%;

    }
  }
}

.review_write_btn {
  margin: 30px 0;
  text-align: center;
  color: #fff;

  a {
    font-size: 2em;
    color: #fff;
  }

}

.product_review_container {
  width: 100%;
}

.product_review_form {
  width: 100%;

  .form_row {
    margin-bottom: 15px;
  }

  .review_rating_stars {
    font-size: 2em;
    line-height: 1em;

    i {
      margin-right: 5px;
      color: rgba(0,0,0,0.1);
    }

    i.selected {
      color: #ba9103;
    }
  }

  .review_effects, .review_flavour {
    .review_rating_stars {
      text-align: center;
    }
  }

  .review_effects {
    .effect_row {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding: 5px 0;

      select {
        margin: 0;
      }
    }
  }

  .review_comment_field {
    height: 150px;
  }
}

.review_rating_extra {
  font-size: 0.8em;

  .extra_title {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
  }

  .extra_value {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 0;

    .md-label {
      text-transform: uppercase;
      font-size: 0.8em;
    }

    .value_label {
      padding-left: 20px;
      margin: 0;
    }

    md-radio-button {
      margin: 0;
    }
  }

}

.review_image_upload {

  .upload_btn {
    .filepond--root {
      font-size: 0.7em;
    }
  }

  .upload_previews {
    display: flex;
    flex-flow: row wrap;
    align-content: center;

    .preview_item {
      position: relative;
      width: 150px;
      margin: 10px;
      padding: 5px;
      background: #0c3d5d;

      .item_remove {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
        background-color: rgba(0,0,0,0.7);
        border-radius: 50%;
        width: 30px;
        height: 30px;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
          font-size: 1.4em;
        }
      }

      img {
        width: 100%;
      }
    }
  }

  .filepond--list-scroller {
    display: none;
  }
}

