.shop_sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 500px;
  background-color: #fff;
}

.shop_toolbar {
  padding: 25px 0;
  border-bottom: 1px solid $color-border;

  .product_cat_path {
    .path_item {
      font-size: 16px;
    }
  }
}

.product_viewer {
  position: relative;
  min-height: 200px;

  .viewer_loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;

    .loader_icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .viewer_grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 0 -20px;

    @media (max-width: 488px) {
      justify-content: center;
    }

    .grid_item {
      padding: 20px;
      flex: 25%;
      min-width: 250px;
      max-width: 25%;
      //width: auto;
      //flex: 33%;
      //max-width: calc(100% / 3);

      @media (max-width: 488px) {
        max-width: 90%;
      }
    }
  }

  .stage_load_more_row {
    text-align: center;
    padding: 70px 0 30px 0;

    .btn {
      margin: 0 auto;
      transition: width 2s, height 2s, margintransform 2s;

      .loader_icon {
        display: none;
      }

      &.loading {
        .loader_icon {
          display: inline-block;
        }

        .btn_text {
          display: none;
        }
      }
    }
  }
}

.product_cannabis {
  .product_image {
    background: #fff;
  }
}

.grid_item_product {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: auto;

  .product_info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .product_image {
    display: block;
    position: relative;
    background: $color-alt;
    padding: 64% 39%;
    width: 100%;

    img {
      display: block;
      position: absolute;
      max-height: 100%;
      max-width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }


    .image_brand_wrap {
      position: relative;
      height: 100%;
      padding: 50px 10%;
      background: $color-alt;

      img {
        max-height: 60%;
        max-width: 60%;
      }
    }
  }

  .product_title {
    text-align: left;
    flex-grow: 2;
    text-transform: none;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    color: #000;
    margin-bottom: 7px;
    font-family: $font-secondary;
    letter-spacing: 0px;
  }

  .product_text_secondary {
    //flex: 3;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
  }

  .rating_container {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    margin: auto 0;
    position: relative;

    .primo_ok_hand {
      //background: url('../img/primo_ok_hand.svg') 100% 100% no-repeat;
      //background: url('../img/emoji-hand.png') 100% 100% no-repeat;
      //width: 20px;
      //height: 20px;

      //position: absolute;
      //right: 80px;
      //top: -10px;
      //font-size: 25px;

      img {
        max-height: 30px;
        position: absolute;
        top: -10px;
        right: 80px;
      }
    }
  }

  .product_meta {
    @extend %primary_font;

    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    font-weight: 800;
    font-style: normal;
    color: #000;
    margin-bottom: 10px;

    .meta_divider {
      display: block;
      width: 3px;
      height: 3px;
      background-color: #333;
      margin: 0 15px;
    }
  }

  .product_rating {
    //text-transform: uppercase;
    padding-left: 10px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
  }

  .product_price {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #333;
  }
}

@media only screen and (max-width:800px) {
  .product_viewer {
    .viewer_grid {
      margin: 0;

      .grid_item {
        flex: 1;
        max-width: 100%;
        padding: 0;
        margin-bottom: 20px;
      }
    }
  }
}


.nav_mobile_scroll {
  position: relative;
  display: block;
  width: 100%;
  padding: 3px 0;

  &.small {
    .scroll_track {
      .track_slide {
        a {
          padding: 15px 25px;
          font-size: 0.9em;
        }
      }
    }
  }

  .scroll_btn {
    position: absolute;
    z-index: 5;
    width: 50px;
    height: 100%;
    background: #cf6b67;
    top: 0;

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &.left {
      left: 0;
      background: rgb(255,255,255);
      background: linear-gradient(90deg, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%);

      i {
        left: 10px;
      }
    }

    &.right {
      right: 0;
      background: rgb(255,255,255);
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%);

      i {
        right: 10px;
      }
    }


  }

  .scroll_track {
    overflow-x: auto;
    padding: 0;
    width:100%;
    //margin: 0 -20px;
    margin: 0;

    .track_slide {
      display: flex;
      flex-flow: row nowrap;
      float: left; // Causes div to have actual width of child items
      min-width: 100%;

      a {
        display: block;
        white-space: nowrap;
      }
    }
  }
}

.shop_cat_nav_bar {

  .track_slide {
    a {
      @extend %primary_font_demi;

      padding: 15px 25px;
      font-size: 11px;
      color: $color-alt-darker;
      margin-right: 1px;
    }
  }
}


.shop_browse {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  .browse_main {
    width: 100%;
  }

  .browse_child_cats {
    margin-bottom: 40px;

    .cats_nav_row {
      border-bottom: 1px solid $color-alt-dark;

      .track_slide {
        a {
          color: $color-alt-darker;
          font-size: 11px;
          font-weight: 500;
          letter-spacing: 1px;
          padding: 13px 20px;

          &.active {
            //background: $color-primary;
            color: #000;
          }
        }
      }
    }
  }

  .stage_no_products {
    padding: 50px 30px;
    text-align: center;

    .title {
      @extend %primary_font_demi;
      font-size: 20px;
      display: block;
    }

    .message {
      @extend %primary_font_demi;
      font-size: 16px;
    }
  }

  .browse_header {
    padding-bottom: 30px;
    border-bottom: 1px solid $color-alt-dark;

    .header_title {
      text-transform: uppercase;
      font-size: 2em;
      font-family: $font-primary;
      margin: 15px 0 0 0;
    }
  }

  .browse_stage {
    .stage_item_grid {
      .grid_item {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 80px;
      }
    }
  }
}

//.product_cat_path {
//  .path_item, a {
//    display: inline-block;
//    text-transform: uppercase;
//    font-size: 12px;
//    color: $color-alt-darker;
//    font-family: $font-primary;
//
//    &:after {
//      display: inline-block;
//      content: '/';
//      margin: 0 10px;
//      color: #888;
//    }
//
//    &:last-child {
//      color: $color-primary;
//
//      &:after {
//        display: none;
//      }
//    }
//  }
//}

.product_variant_selector {
  .selector_row {
    padding: 20px 0;

  }

  .row_title {
    @extend %primary_font;
    font-size: 13px;
    font-weight: 500;
  }

  .row_field {

  }
}

.product_strain_tag {
  border: 2px solid $color-primary;
  padding: 5px 20px;
  border-radius: 15px;
  color: $color-primary;
  text-transform: uppercase;
  text-align: center;
  max-width: 200px;
  font-size: 14px;
  font-weight: bold;
}

.effect_meters {
  .meter_row {
    margin-bottom: 15px;
  }

  .meter_bar {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    background-color: $color-alt-dark;
    border-radius: 15px;
    overflow: hidden;
  }

  .meter_bar_label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;

  }

  .meter_bar_fill {
    height: 100%;
    background-color: $color-primary;
  }
}

.product_image_gallery {
  display: flex;
  flex-direction: row-reverse;

  .gallery_main {
    margin-bottom: 15px;
    flex: 1;
    //width: 800px;
    //height: 800px;
    //background-color: #f8f8f8;

    @media (max-width: 800px) {
      //width: 100%;
    }

    img {
      display: block;
      width: inherit !important;
      max-width: 100%;
      max-height: 100%;
      margin: auto;
    }
  }

  .gallery_thumbs_nav {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    padding-right: 10px;

    .nav_dir_btn {
      position: absolute;
      z-index: 2;
      display: none;
      padding: 5px;
      font-size: 1.5em;
      text-align: center;
      width: 100%;

      &.prev {
        top: 0;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);

        i:before {
          content: "\f077";
        }
      }

      &.next {
        bottom: 0;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);

        i:before {
          content: "\f078";
        }
      }
    }

    .thumb_item {
      width: 100%;
      margin-bottom: 3px;
      border: 2px solid transparent;
      outline: 0;

      img {
        display: block;
        width: 100%;
      }
    }

    .thumb_item:active {
      outline: 0;
    }

    .thumb_item.active {
      border-color: $color-primary;
    }

    .nav_viewport {
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: absolute;

      .nav_track {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width:1000px) {
  html body {
    .product_image_gallery {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;

      .gallery_thumbs_nav {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        height: 90px;
        padding-right: 10px;

        .thumb_item {
          height: 100%;
          margin: 0 15px 0 0;

          img {
            height: 100%;
            width: auto;
          }
        }

        .nav_viewport {
          height: 100%;
          width: 100%;
          overflow: hidden;

          .nav_track {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;

          }
        }

        .nav_dir_btn {
          position: absolute;
          padding: 5px;
          font-size: 1.5em;
          width: 80px;
          height: 100%;
          bottom: unset;
          top: unset;

          i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }

          &.prev {
            left: 0;
            background: rgb(255,255,255);
            background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);

            i:before {
              content: "\f053";
            }
          }

          &.next {
            left: unset;
            right: 0;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);

            i:before {
              content: "\f054";
            }
          }
        }
      }
    }
  }
}

.shop_product_single {

  .breadcrumbs {
    margin-bottom: 25px;
  }

  .product_cart_add {
    padding: 20px 0;

    select {
      font-family: $font-secondary;
      font-weight: 600;
    }
  }

  .product_cart_add_price {
    font-size: 2em;
    padding: 24px 0 0 0;
    font-weight: bold;
    text-align: right;
  }
}

.brand_features {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid $color-alt-dark;

  .feature_item {
    background-image: url('../img/brand_feature_icon.svg');
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: 20px 50%;
    padding: 30px 0 30px 70px;
    width: 50%;
    border-top: 1px solid $color-alt-dark;
    //font-family: $font-primary; FIXME: move to theme
    font-family: "termina", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.6em;
    color: #333;

    &.item_cure {
      background-image: url('../img/brand_feature_icon_cured.svg');
    }

    &.item_dry {
      background-image: url('../img/brand_feature_icon_dried.svg');
    }

    &.item_environment {
      background-image: url('../img/brand_feature_icon_grown.svg');
    }

    &.item_batch {
      background-image: url('../img/brand_feature_icon_batch.svg');
    }

    &.item_flush {
      background-image: url('../img/brand_feature_icon_flush.svg');
    }

    &:nth-child(even) {
      border-left: 1px solid $color-alt-dark;
    }
  }
}

.chart_explain {
  margin-top: 20px;

  .explain_text {
    display: block;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;
    color: #999;
  }
}

.chart_legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  &.legend_vertical {
    flex-flow: column nowrap;
    height: 100%;
    margin-top: 0;

    .legend_item {
      align-items: center;
      margin-bottom: 15px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .legend_item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    .legend_square {
      display: block;
      width: 20px;
      height: 20px;
      background: #333;
    }

    .legend_label {
      display: block;
      font-size: 0.7em;
      text-transform: uppercase;
      margin-left: 5px;
    }
  }
}

.product_effects {
  .effects_item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 0;

    .item_label {
      text-transform: uppercase;
      color: #777;
      margin-right: 20px;
      min-width: 70px;
      font-size: 0.8em;
    }

    .item_bar {
      height: 5px;
      background: #ccc;
      flex-grow: 2;

      .bar_line {
        position: relative;
        height: 100%;
        width: 33%;
        background: #333;

        .line_point {
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #000;
          transform: translate(50%, -50%);
        }
      }
    }
  }
}
.legend {
  .square-thc {
    background-color: #7aa780;
  }

  .square-cbd {
    background-color: #EF628A;
  }

  .square-cbg {
    background-color: #1F91CA;
  }

  .square-cbn {
    background-color: #DA5529;
  }
}

.product_single {

  .single_main {
    margin-bottom: 30px;

    .main_image_wrap {
      //height: 100%;

      .image_block {
        position: relative;
        //height: 100%;

        &.image_brand_logo {
          background-color: $color-alt;
          min-height: 400px;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
            max-width: 300px;
          }

        }
      }

      img {
        width: 100%;
      }
    }

    .main_info_wrap {
      padding: 0 0 0 20px;

      .info_header_cannabis {
        display: flex;
        justify-content: space-between;
      }

      .info_header_accessories {
        @media (max-width: 600px) {
          display: flex;
          flex-direction: column;
        }
      }

      .info_header {
        border-bottom: 1px solid $color-alt-dark;
        padding-bottom: 20px;

        .info_header_title {
          display: flex;
          justify-content: space-between;

          h1 {
            font-size: 18px;
          }
        }

        .info_header_reviews {
          display: flex;
          align-items: center;
          margin-top: 5px;

          h3 {
            font-size: 10px;
            margin-bottom: 0;
            vertical-align: middle;
            font-weight: 500;

            //@media (max-width: 600px) {
            //  font-size: 0.5em;
            //}
          }

          .header_review_bg {
            display: inline-block;
            position: relative;
            height: 25px;
            width: 22px;
            background: url('../img/rating_label_shape.svg') 100% 100% no-repeat;
            background-size: contain;
          }

          .header_review_val {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            font-family: $font-primary;
          }
        }

        .header_title {
          text-align: left;
          font-size: 18px;
          text-transform: uppercase;
          padding-right: 10px;
          //font-family: $font-primary;

          @media (max-width:600px) {
            font-size: 20px;
          }
        }

        .header_brand {
          text-align: left;
          font-size: 10px;
          color: black;
        }

        .header_brand_logo {
          width: 30%;
          text-align: center;
          border-left: 1px solid #dcdcdc;
          position: relative;

          img {
            width: 50%;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }

      .info_row {
        border-bottom: 1px solid $color-alt-dark;
        padding: 20px 0;

        &:last-child {
          border-bottom: 0;
        }

        &.no-border-bottom {
          border-bottom: none;
        }

        .row_title {
          font-size: 12px;
          margin-bottom: 10px;
          line-height: 15px;
        }

        &.no_border {
          border-bottom: 0;
        }

        .info_similar_categories {
          h3 {
            font-size: 12px;
            margin-bottom: 15px;
          }

          .info_categories {
            display: flex;
            justify-content: space-between;

            @media (max-width: 1200px) {
              flex-direction: column;

              h4 {
                margin-right: 0;
                margin-bottom: 15px;
              }
            }

            h4 {
              font-size: 10px;
              white-space: nowrap;
              margin-right: 15px;

              a {
                color: $color-alt-darker;

                &:hover {
                  color: $color-alt-darkest;
                }
              }

              @media (max-width: 600px) {
                padding: 10px 0;
              }
            }
          }
        }

        .info_cart_add {


          .add_to_cart_button {
            width: 100%;
            background-color: #ffea07;
            border: 0;
            //font-family: $font-primary; FIXME: move to theme
            font-family: "termina", sans-serif;
            letter-spacing: 1px;
            padding: 15px;
            font-size: 14px;
            font-weight: bold;
          }

          .info_cart_sub {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            margin-bottom: 10px;

            @media (max-width: 800px) {
              flex-direction: column;
            }

            @media (max-width: 1200px) {
              flex-wrap: wrap;
            }

            a {
              display: flex;
              justify-content: space-between;
              background-color: white;
              border: 0.5px solid #ddd;
              width: 100%;
              //font-family: $font-primary; FIXME: move to theme
              font-family: "termina", sans-serif;
              color: black;
              padding: 12px;
              font-size: 10px;
              font-weight: 500;
              margin: 0 5px 5px;
              white-space: nowrap;

              &:first-of-type {
                margin-left: 0;
              }

              &:last-of-type {
                margin-right: 0;
              }

              @media (max-width: 800px) {
                margin: 0 0 10px;
              }

              @media (max-width: 1200px) {
                margin: 0 0 5px;
              }
            }
          }
        }
      }

      .info_ratings {


        .rating_cats {
          margin-top: 30px;

          @media (max-width: 600px) {
            display: none;
          }

          .rating_totals {
            width: 100%;
            max-width: unset;
            margin: 0;
            justify-content: space-between;

            .rating_item {
              width: 25%;
              padding: 0;

              .rating_label {
                display: block;
                font-family: $font-primary;
                text-align: left;
                font-size: 0.7em;
                text-transform: uppercase;
                color: #000;
                font-weight: 500;
                margin-bottom: 10px;
              }

              .rating_scale {

              }
            }
          }
        }
        .rating_reviews {
          display: flex;
          justify-content: space-between;

          .reviews_total {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            .total_avg {

              .label_rating.rating_small {

                .info_rating_value {
                  //font-family: $font-primary; FIXME: move to theme
                  font-family: "termina", sans-serif;
                  font-size: 1em;
                  font-weight: bold;
                }
              }
            }

            .total_count {
              flex: 100%;
              padding-left: 20px;

              .count_value {
                font-size: 0.7em;
                color: #000;
                margin: 0;
              }
            }
          }

          .reviews_button {
            margin: auto 0;

            a {
              display: flex;
              justify-content: space-between;
              background-color: #fff;
              border: .5px solid #ddd;
              //font-family: $font-primary; FIXME: move to theme
              font-family: "termina", sans-serif;
              padding: 15px;
              font-size: 10px;
              font-weight: 500;
              color: #000;

              span {

                &:first-of-type {
                  margin-right: 40px;

                  @media (max-width: 600px) {
                    margin-right: 10px;
                  }
                }
              }
            }
          }
        }

      }

      .info_summary {
        display: flex;

        .summary_block {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          min-width: 150px;
          flex: 33%;

          .summary_icon {
            width: 35px;
            margin-right: 20px;

            img {
              display: block;
              width: 100%;
            }
          }

          .summary_stat {
            .stat_title {
              margin: 0;
              font-size: 0.7em;
            }

            .stat_value {
              font-family: $font-primary;
              text-align: left;
              font-size: 0.7em;
              color: #888;
              font-weight: 500;
            }
          }

        }
      }
    }

    @media only screen and (max-width:800px) {
      .main_info_wrap {
        padding: 40px 0 0 0 !important;
      }
    }
  }

  .strain_lineage {
    //font-family: $font-primary; FIXME: move to theme
    font-family: "termina", sans-serif;

    .strain_block {
      width: 90%;
      background-color: $color-alt;
      //font-family: $font-primary;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.5em;
      padding: 30px 10px;
      margin: 0 auto 20px;

      @media (max-width:600px) {
        font-size: 1em;
      }
    }

    .strain_parents {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 0 auto 20px;

      .strain_block_parent {
        width: 45%;
        background-color: $color-alt;
        //font-family: $font-primary;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        font-size: 1em;
        padding: 30px 10px;
        margin: 0;

        @media (max-width:600px) {
          font-size: 0.75em;
        }
      }

      .lineage_plus {
        font-size: 1em;
        font-weight: 700;
        margin: auto;
        //font-family: $font-primary;
      }
    }
  }

  .info_similar_products {
    border-top: 1px solid $color-alt-dark;
    margin-top: 50px;
    padding-top: 50px;
    
    .similar_products_header {
      display: flex;
      justify-content: space-between;

      a {
        color: $color-alt-darker;
        margin-right: 15px;

        &:hover {
          color: $color-alt-darkest;
        }
      }
    }
  }

  .row_hero {
    border: solid $color-alt;
    border-width: 3px 0;
  }

  .product_details {

    .details_col {
      &:first-child {
        border-right: 2px solid $color-alt;
      }
    }

    .details_block {
      position: relative;
      border-bottom: 2px solid $color-alt;
      padding: 40px 0 40px 40px;

      .details_description {
        padding-right: 40px;
      }

      &.block_no_border {
        border-bottom: 0;
      }

      &.block_no_padding_x {
        padding-left: 0;
        padding-right: 0;
      }

      &.block_left_pad {
        padding-left: 60px;
      }

      &.block_right_pad {
        padding-right: 40px;
        padding-left: 0;
      }

      .block_title {
        text-transform: uppercase;
        font-family: $font-secondary;
        text-align: left;
        font-size: 1.1em;
        font-weight: bold;
        color: #000;
        margin-bottom: 30px;
      }

      .block_title_vert {
        position: absolute;
        transform: rotate(90deg);
        left: -55px;
        top: 100px;
        text-transform: uppercase;
        font-family: $font-secondary;
        text-align: left;
        font-size: 1em;
        color: #ccc;
        letter-spacing: 1px;
      }

      .block_body {

      }
    }

    .details_multi_block {
      display: flex;
      flex-flow: row wrap;
      justify-content: stretch;
      border-bottom: 1px solid $color-alt;

      .block_item {
        padding: 20px;
        border-right: 1px solid $color-alt;
        width: 50%;

        &:last-child {
          border-right: 0;
        }

        .block_title {
          text-transform: uppercase;
          font-family: $font-secondary;
          text-align: left;
          font-size: 0.7em;
          font-weight: bold;
          color: $color-alt-dark;
        }

        .block_body {

        }
      }
    }
  }
}

.product_cart_add_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add_to_cart_btn {
  display: block;
  font-weight: 500;
  font-size: 12px;
}

.quantity_input {
  display: flex;
  flex-direction: row;
  align-content: center;
  max-width: 200px;

  .field {
    border-width: 1px 0;
    text-align: center;
    margin-bottom: 0;
  }

  .quantity_btn {
    display: block;
    padding: 0 20px;
    background: $color-primary;
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    border-radius: 30px;
    line-height: 0;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.product_prices {
  text-align: left;
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid $color-border;

  .product_price {
    margin: 0;
    height: 50px;
    position: relative;
    font-size: 20px;
    line-height: 50px;
    padding: 0 25px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 5;

    &.active {
      background-color: #ccc;
    }

    .md-container {
      display: none;
    }

    .md-label {
      display: block;
    }

    .gram {
      display: inline-block;
      width: 50%;
      z-index: 91;
    }

    .divider {
      display: inline-block;
      color: #aeadac;
      width: 10%;
      text-align: center;
    }

    .price {
      display: inline-block;
      width: 25%;
    }
  }
}

.product_write_review {
  text-align: center;
  padding-bottom: 20px;
  .review-button-container {
    margin: 10px 0 0 0;
  }

  .review-button {
    display: inline-block;
    font-family: 'Futura-XBold', sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: black;
    border: 1px solid black;
    padding: 30px 10px;
    max-width: 320px;
    margin: 40px auto 0;
  }

  .review-button:hover, .review-button.active {
    background-color: black;
    color: white;
  }

  .product_review_container {
    background: #000;
    padding: 50px 10%;
    text-align: left;
    color: #fff;

    .product_review_form .review_rating_stars i {
      color: rgba(255,255,255,0.4);

      &.selected {
        color: #ba9103;
      }
    }
  }
}

.ratio_meter_full {
  padding: 30px 0;

  .meter_labels {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-bottom: 20px;

    .label_item {
      font-size: 1em;
      font-weight: bold;
      color: $color-alt-dark;
      font-family: $font-primary;

      &.active {
        color: #000;
      }
    }
  }

  .meter_bar {
    position: relative;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #000;

    .bar_fill {
      position: relative;
      background: url('../img/Primo_X_Pattern.png') 0 0 repeat transparent;
      border-radius: 25px 0 0 25px;
    }

    .fill_line {
      position: absolute;
      top: 0;
      right: 0;
      width: 2px;
      background: #000;
      height: 100%;
      transform: scaleY(1.5) translateY(-15%);
    }
  }
}

.chart_bar {
  background: $color-alt;
  height: 30px;
  position: relative;
  padding: 1px;

  &.bar_rounded {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #000;

    .bar_fill {
      background: url('../img/Primo_Dot_Pattern.png') 0 0 repeat transparent;
    }
  }

  .bar_mask {
    background: url('../img/Indica_Sativa_Bar.png') 0 0 repeat-x transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
  }

  .bar_fill {
    width: 50%;
    height: 100%;
    background-color: #000;
  }
}


.product_lab_stats {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;

  .stat_block {
    padding: 15px;
    flex: 50%;

    .stat_label {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      font-size: 0.6em;
      font-family: $font-primary;

      .label_value {
        text-align: right;
      }
    }
  }
}

.product_strain_chart {
  .chart_bar {
    height: 85px;
    background: $color-alt-dark;

    .bar_fill {
      height: 100%;
      width: 50%;
      background-color: #000;
    }
  }

  .chart_labels {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    .label_block {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &:last-child {
        flex-flow: row-reverse nowrap;
        text-align: right;
        color: $color-alt-dark;

        .label_icon {
          background-color: $color-alt-dark;
        }
      }

      .label_icon {
        display: block;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: #000;
      }

      .label_title {
        text-transform: uppercase;
        font-family: $font-primary;
        font-size: 0.9em;
        font-weight: bold;
        margin: 0 20px;
      }
    }
  }
}

.product_ratio {

  .ratio_info {
    display: flex;
    align-content: center;

    .ratio_icon {
      width: 150px;
      padding: 10px 30px;

      img {
        display: block;
        width: 100%;
      }
    }

    .ratio_desc {
      border-left: 1px solid $color-alt-dark;
      padding-left: 30px;

      .desc_title {
        font-size: 1em;
      }

      .desc_text {
        font-size: 0.8em;
      }
    }
  }

}

.ratio_full_meter {
  .meter_labels {

  }
}

.product_single_wrap {
  .product_main {
    padding-bottom: 40px;

    .product_image_col {
      display: flex;
      flex-flow: column nowrap;

      .product_image {
        position: relative;
        height: 500px;

        &.image_brand_logo {
          background-color: $color-alt;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            max-width: 300px;
          }

        }

      }
    }
  }

  .product_image {
    display: block;
    width: 100%;
    max-width: 100%;
  }

  .product_header {
    padding-bottom: 20px;
    border-bottom: 1px solid $color-alt-dark;

    .product_title {
      text-transform: uppercase;
      font-family: $font-secondary;
      font-weight: 300;
      text-align: left;
      font-size: 2.5em;
    }

    .product_brand {
      text-transform: uppercase;
      font-family: $font-secondary;
      font-weight: 300;
      text-align: left;
      font-size: 1em;
      color: #666;
    }
  }

  .product_weed_summary {
    padding-top: 20px;
    border-top: 1px solid $color-alt-dark;
    height: 200px;
  }

  .product_desc {
    font-size: 0.9em;
    //margin-bottom: 40px;

    p {
      line-height: 1.5em;
      margin-bottom: 2em;
    }
  }


}

.product_effect_group {
  margin-bottom: 40px;

  .group_title {
    text-transform: uppercase;
    font-family: $font-secondary;
    text-align: left;
    font-size: 0.7em;
    font-weight: bold;
    color: $color-alt-dark;
  }
}

.product_cart_form {
  .cart_form_options {

  }

  .cart_form_submit {

  }
}

.rating_totals {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto 60px;

  .rating_item {
    width: 33%;
    padding: 30px;
  }
}




@media only screen and (max-width:800px) {
  html body {

    .product_single {
      .product_details {
        .details_block {
          padding: 20px;
        }
      }
    }

    .product_single_wrap {
      .product_details {
        .details_col {
          &:first-child {
            border-right: 0;
          }
        }
      }
    }

    .rating_totals {
      display: flex;
      flex-flow: column;
      width: 90%;
      max-width: 1200px;
      margin: 20px auto 60px;

      .rating_item {
        width: 100%;
        padding: 30px;
      }
    }

    .reviews_viewer {
      .viewer_filters {

      }

      .viewer_body {

      }

      .viewer_items {
        .viewer_item {
          display: flex;
          flex-flow: column;
          background: #fff;
          padding: 20px;
          margin-bottom: 30px;

          .item_review_main {
            margin-left: 0;
            padding: 0;
            border-left: 0;
            flex: 1;
          }

          .item_review_meta {
            width: 100%;

            .meta_header {
              display: flex;
              flex-flow: row nowrap;
              margin-bottom: 20px;

              .meta_rating_overall {
                width: 50px;
                margin-right: 20px;
              }

              .meta_author {
                .author_name {
                  display: block;
                  text-transform: uppercase;
                  font-family: $font-secondary;
                  text-align: left;
                  font-size: 1.3em;
                  color: #333;
                }

                .author_date {
                  display: block;
                  text-transform: uppercase;
                  font-family: $font-secondary;
                  text-align: left;
                  font-size: 0.9em;
                  color: $color-alt-dark;
                }
              }
            }
          }
        }
      }
    }

  }
}

.product_brand_container {
  display: flex;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  .product_brand_image {
    flex: 1 0 auto;
    max-width: 300px;

    @media (max-width: 800px) {
      align-self: center;
    }

    img {
      max-width: 300px;
      padding: 50px;
      width: 100%;
    }
  }

  .product_brand_description {
    flex: 2 1 auto;
    padding: 50px 40px 0px;

    @media (max-width: 800px) {
      padding: 0px 20px;

    }

    h3 {
      margin-bottom: 15px;
    }
  }
}