<div class="item_product grid_item_product product_cannabis">
    <a href="%% product.url %%" class="product_image">
        <img src="%% product.image %%" alt="%% product.title %%" />
    </a>


    <div class="product_info">
        <h3 class="product_title">%% product.title %%</h3>

        <div class="product_rating">
            %% product.ratings_average %%/5 (%% product.ratings_count %% Reviews)
        </div>

        <div class="product_price">
            <span class="price_single">$%% product.price %%</span>
        </div>
    </div>
</div>
