
<a href="%% product.url %%" class="product_image">
    <img src="%% product.image %%" />
</a>


<div class="product_info">
    <h3 class="info_title">%% product.title %%</h3>


    <div class="info_meta" ng-bind-html="product_meta(product)"></div>

    <div class="info_rating">
        %% product.ratings_average %%/10 (%% product.ratings_count %% Reviews)
    </div>
</div>