<a href="%% product.url %%" class="item_product grid_item_product">
    <div class="product_image">
        <img src="%% product.image %%" alt="%% product.title %%" />
    </div>


    <div class="product_info">
        <h3 class="product_title">%% product.title %%</h3>

        <div class="product_meta" ng-bind-html="product_meta(product)"></div>

        <div class="product_rating">
            %% product.ratings_average %%/5 (%% product.ratings_count %% Reviews)
        </div>

        <div class="product_price">
            <span class="price_single">$%% product.price %%</span>
        </div>
    </div>
</a>