<div id="video_gallery" class="video_player video_gallery">
    <div id="gallery_loader" class="gallery_loader">
        <div class="loader_icon aicon_circle_loader primary"></div>
    </div>

    <div id="gallery_stage" class="gallery_ui_block player_viewer">
        <div class="stage_viewer">
            <div class="viewer_video">
                <div id="video_player"></div>
            </div>

            <div class="viewer_info" ng-if="has_video()">
                <h2 class="info_title">%% selected_video_field('title') %%</h2>
                <div class="info_desc">
                    <p>Aenean condimentum tortor massa, at commodo metus euismod eget. Aliquam malesuada metus pretium dignissim vulputate. Donec in odio libero. In ullamcorper eros eget massa scelerisque faucibus. Phasellus non mauris ut mauris mattis convallis. Maecenas egestas ligula vel scelerisque consequat.</p>
                    <p>Phasellus tristique quam ut massa auctor, vitae consectetur lorem euismod. Nullam vestibulum interdum scelerisque.</p>
                </div>

                <div class="info_actions">
                    <div class="action_shares">
                        <div class="share_bar"></div>
                    </div>

                    <div class="action_view">
                        <a href="%% selected_video_field('post_url') %%" class="btn btn_primary btn_small">View</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="gallery_nav" class="gallery_nav gallery_ui_block">
        <div class="nav_scroller">
            <div class="scroll_btn left"><i class="fa fa-chevron-left"></i></div>
            <div class="scroll_track">
                <div class="track_slider">
                    <div class="video_nav">
                        <div class="nav_item" ng-repeat="video in gallery.videos track by $index" ng-click="select_video($index)" ng-class="{'active' : is_selected($index) }">
                            <img src="%% video.meta.video.thumbs.medium.url %%" />
                            <span class="item_title">%% video.title %%</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll_btn right"><i class="fa fa-chevron-right"></i></div>
        </div>

    </div>
</div>


