<div id="video_gallery" class="video_player">
    <div id="gallery_stage" class="gallery_ui_block player_viewer">
        <div class="viewer_stage">
            <div class="viewer_video">
                <div id="video_player">
                    
                </div>

            </div>

            <div class="viewer_info">
                <h2 class="info_title">%% selected_video_field('title') %%</h2>
                <div class="info_desc">
                    <p>Aenean condimentum tortor massa, at commodo metus euismod eget. Aliquam malesuada metus pretium dignissim vulputate. Donec in odio libero. In ullamcorper eros eget massa scelerisque faucibus. Phasellus non mauris ut mauris mattis convallis. Maecenas egestas ligula vel scelerisque consequat.</p>
                    <p>Phasellus tristique quam ut massa auctor, vitae consectetur lorem euismod. Nullam vestibulum interdum scelerisque.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="gallery_nav" class="player_nav gallery_ui_block">
        <div class="nav_scroller">
            <div class="scroll_btn left"><i class="fa fa-chevron-left"></i></div>
            <div class="scroll_viewer">
                <div class="viewer_track">
                    <div class="video_nav">
                        <div class="nav_item" ng-repeat="video in player.videos track by $index" ng-click="select_video($index)" ng-class="{'active' : is_selected($index) }">
                            <img src="%% video.meta.video.thumbs.medium.url %%" />
                            <span class="item_title">%% video.title %%</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="scroll_btn right"><i class="fa fa-chevron-right"></i></div>
        </div>

    </div>
</div>


