<div class="address_fields">
    <div class="form_row">
        <label>Street Address</label>
        <input type="text" name="address_street_1" ng-model="address.address_street_1" class="field" />
    </div>

    <div class="form_row">
        <label>Street Address <em>(Line 2; Optional)</em></label>
        <input type="text" name="address_street_2" ng-model="address.address_street_2" class="field" />
    </div>

    <div class="form_row">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-8">
                <label>City</label>
                <address-city-select city="address.city"></address-city-select>
            </div>

            <div class="col-sm-12 col-md-5 col-lg-4">
                <label>Zip / Post Code</label>
                <input type="text" name="address_zip" ng-model="address.address_post_code" class="field" />
            </div>
        </div>
    </div>
</div>