<address class="address">
    <span class="address_street">%% address.address_street_1 %%</span>
    <span class="address_street">%% address.city.city_display_title_abbrev %%</span>
    <span class="address_post_code">%% address.address_post_code %%</span>
</address>