
<input type="text" name="address_city" value="" autocomplete class="address_hidden_autofill" />
<input type="text" name="address_prov" value="" autocomplete class="address_hidden_autofill" />
<input type="text" name="address_country" value="" autocomplete class="address_hidden_autofill" />

    <md-autocomplete
            md-selected-item="selected_city"
            md-search-text="search_text"
            md-selected-item-change="select_city(item.data)"
            md-items="item in search_city(search_text)"
            md-item-text="item.display"
            md-min-length="2"
            placeholder="Select your city or town..."
            md-autocomplete-snap="width">
        <md-item-template>
            <span md-highlight-text="search_text" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
    </md-autocomplete>

<div ng-cloak ng-if="(is_create('city') === true)" style="margin-top: 20px">
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <label>Country</label>
            <select ng-model="city.city_country" class="field" ng-change="select_country()">
                <option value="{{country.country_id}}" ng-repeat="country in city_fields.countries">{{ country.country_name }}</option>
            </select>
        </div>

        <div class="col-sm-12 col-md-7">
                <label>State / Prov</label>
                <select ng-model="city.city_region" class="field">
                    <option value="{{region.region_id}}" ng-repeat="region in city_fields.regions">{{ region.region_name }}</option>
                </select>

            <!--
            <md-autocomplete
                    md-selected-item="selected_region"
                    md-search-text="search_text_region"
                    md-selected-item-change="select_region(item.data)"
                    md-items="item in search_region(search_text)"
                    md-item-text="item.display"
                    md-min-length="2"
                    placeholder="Select your state or province..."
                    md-autocomplete-snap="width">
                <md-item-template>
                    <span md-highlight-text="search_text" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
            </md-autocomplete>


            <label>State/Prov</label>
            <input type="text" name="address_region" ng-model="city.city_region" class="field" />
            -->
        </div>


    </div>
</div>



