<div class="cc_form" ng-cloak ng-if="config.show_form">
    <div class="row">
        <div class="col-12 col-md-8">
            <fieldset class="form-group">
                <label>Card Holder Name</label>
                <input type="text" class="form-control field_cc_name" ng-model="card.card_holder_name"  />
            </fieldset>
        </div>

        <div class="col-12 col-md-8">
            <fieldset class="form-group">
                <label>Card Number</label>
                <input type="text" class="form-control field_cc_number" placeholder="Enter credit card number" ng-model="card_number.rawValue"  cleave="field_configs.cc"  />
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <fieldset class="form-group">
                <label>Expiry Date</label>
                <input type="text" class="form-control field_cc_expiry" ng-model="card.card_expiry" placeholder="MM / YY" cleave="field_configs.expire" />
            </fieldset>
        </div>

        <div class="col-12 col-md-4">
            <fieldset class="form-group">
                <label>CCV</label>
                <input type="text" class="form-control field_cc_ccv" ng-model="card.card_ccv" placeholder="ccv..." />
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <fieldset class="form-group">
                <label>Billing Address</label>
                <checkout-customer-address-selector address="card.address"></checkout-customer-address-selector>
            </fieldset>
        </div>
    </div>

</div>
