<div class="review_image_upload">
    <div class="row">
        <div class="col-md-4">
            <div class="upload_btn">
                <input name="file" id="image_upload_input" type="file" accept=".jpg, .png, .jpeg, image/jpeg, image/png" />
            </div>
        </div>

        <div class="col">
            <div class="upload_previews">
                <div class="preview_item" ng-repeat="image in images track by $index">
                    <span class="item_remove" ng-click="image_remove($index)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>

                    <img src="{{ image.data }}" />
                </div>

            </div>
        </div>
    </div>

</div>