<a class="btn btn_flat btn_primary btn_loader" ng-click="follow()" ng-class="{'loading' : config.loading }">
    <span ng-cloak ng-if="is_followed()">Followed</span>
    <span ng-cloak ng-if="!(is_followed())">Follow</span>
</a>