<div class="grid_scroller">
    <div class="scroller_nav">
        <a class="nav_arrow"><i class="fa fa-angle-up" aria-hidden="true"></i></a>

        <div class="nav_pages">
            <a ng-repeat="item in list_pages() track by $index" class="nav_item" ng-class="nav_class(item)" ng-click="goto_page(item)"></a>
        </div>

        <a class="nav_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>

    <div class="scroller_stage">
        <ng-transclude></ng-transclude>
    </div>

    <div class="browse_more_wrap">
        <a href="" class="btn btn_status" ng-click="next_page()">

            <div class="btn_status_ind">
                <div class="loader--style6" title="Loading">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                        <rect x="0" y="9.81458" width="4" height="11.3708" fill="#333">
                            <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
                            <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
                        </rect>
                        <rect x="10" y="12.1854" width="4" height="6.62916" fill="#333">
                            <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
                            <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
                        </rect>
                        <rect x="20" y="8.18542" width="4" height="14.6292" fill="#333">
                            <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
                            <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
                        </rect>
                    </svg>
                </div>
            </div>

            <span class="btn_label">Load More</span>
        </a>
    </div>
</div>
