<md-dialog aria-label="%% dialog_config.title %%" ng-cloak class="dialog_clean" ng-class="{ 'dialog_loading' : dialog_config.loading, 'dialog_successful' : dialog_config.success }">
    <div class="dialog_loader">
        <div class="loader_icon aicon_circle_loader"></div>
    </div>

    <div class="dialog_success">
        <div class="success_msg">
            <div class="msg_icon aicon_checkmark"></div>
            <div class="msg_text">
                %% dialog_config.success_msg %%
            </div>
        </div>

    </div>

    <md-dialog-content>

        <div class="dialog_body">
            <div class="body_header">
                <h3 class="header_title header_underline">Invite Friends</h3>
            </div>

            <form class="form invite_form">
                <div class="form_row invite_row" ng-repeat="invite in fields.invites track by $index">
                    <input type="text" class="field" ng-model="invite.email" placeholder="Email Address..." />

                    <div class="row_actions">
                        <a ng-click="remove_row($index)">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="form_row">
                    <button ng-click="add_row()" class="btn flat_btn btn_small"><i class="fa fa-plus"></i> Add More</button>
                </div>

                <div class="invite_submit_row">
                    <button class="btn flat_btn btn_primary btn_block" ng-click="submit()">Submit</button>
                </div>
            </form>
        </div>

    </md-dialog-content>
</md-dialog>


