<div class="newsletter_signup">
    <form class="newsletter_signup_form" ng-submit="submit()">
        <input class="field" ng-model="fields.email" type="text" placeholder="Your Email Address..." />
        <button type="submit" class="btn btn_small">Sign Up</button>
    </form>
</div>