<md-dialog aria-label="Product Searcher" ng-cloak class="product_searcher_dialog">
    <md-dialog-content>
        <div class="product_searcher">
            <form method="post" ng-submit="search_submit()">
                <div class="searcher_input_wrap">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" class="searcher_input" placeholder="Search for..." ng-model="search_field" ng-change="search_update()"/>
                    <button type="submit" class="btn btn-lg">Search</button>
                </div>
            </form>

            <div class="searcher_suggests">
                <a class="suggest_dir_btn" role="scroll-prev">
                    <i class="fa fa-chevron-left"></i>
                </a>

                <div class="suggests_viewport">
                    <div class="viewport_track">
                        <div class="suggest_item" ng-repeat="product in products track by $index">
                            <a href="#">
                                <img src="%% product.product_cover_image.image.sizes.thumb_large.url %%" class="product_image"/>
                                <h4 class="product_title">%% product.product_title %%</h4>
                                <div class="product_summary">
                                    <span class="summary_item" ng-if="!(product.fields.top_effect | isEmpty)">%%product.fields.top_effect.effect_title%%</span>
                                    <span class="summary_item" ng-if="!(product.fields.species | isEmpty)">%%product.fields.species%%</span>
                                    <span class="summary_item">$%%product.base_price.price_cost %%/G</span>
                                </div>

                            </a>
                        </div>
                    </div>
                </div>

                <a class="suggest_dir_btn" role="scroll-next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>