<div class="order_totals_summary">

    <div class="summary_row">
        <div class="summary_label">Subtotal</div>
        <div class="summary_value">${{ totals.subtotal }}</div>
    </div>

    <div class="summary_row" ng-if="(totals.discount > 0)">
        <div class="summary_label">Coupon</div>
        <div class="summary_value">-${{ totals.discount }}</div>
    </div>

    <div class="summary_row" ng-if="(totals.points > 0)">
        <div class="summary_label">Points</div>
        <div class="summary_value">-${{ totals.points }}</div>
    </div>

    <div class="summary_row">
        <div class="summary_label">Tax</div>
        <div class="summary_value">${{ totals.tax }}</div>
    </div>

    <div class="summary_row">
        <div class="summary_label">Shipping</div>
        <div class="summary_value">${{ totals.shipping }}</div>
    </div>

    <div class="summary_row">
        <div class="summary_label">Total</div>
        <div class="summary_value">${{ totals.total }}</div>
    </div>
</div>