<md-dialog aria-label="Product Searcher" ng-cloak class="dialog_clean product_searcher_dialog">
    <md-dialog-content>
        <div class="product_searcher">
            <form method="post" action="http://localhost/primo/shop/">
                <div class="searcher_input_wrap">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" class="searcher_input" name="search_text" placeholder="Search for..." />
                    <button type="submit" class="btn btn_primary">Search</button>
                </div>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>