<div class="quantity_input">
    <button class="quantity_btn" ng-click="decrease()">-</button>
    <input type="number" class="field" string-to-number ng-model="quantity" ng-change="updated()" />
    <button class="quantity_btn" ng-click="increase()">+</button>
</div>