<a ng-click="close()" class="signup_close"><i class="fa fa-times"></i></a>

<header class="block_header">
    <h1 class="header_title">Sign Up Now</h1>
    <h3 class="header_sub">Get first dibs on limited edition Primo Gear!</h3>
</header>

<form class="signup_form" method="POST" ng-submit="submit()">
    <div class="signup_error" ng-if="(config.error !== false)" ng-cloak>%% config.error %%</div>

    <div class="form_field">
        <label>Your Email Address</label>
        <input type="email" class="field" ng-model="fields.email" />
    </div>

    <div class="form_row_submit">
        <button type="submit" class="btn btn_flat btn_block">Submit</button>
    </div>
</form>