<md-dialog aria-label="%% dialog_config.title %%" ng-cloak class="dialog_clean success_dialog" ng-class="{ 'dialog_loading' : dialog_config.loading, 'dialog_success' : dialog_config.success, 'dialog_error' : dialog_config.errors }">
    <div class="dialog_loader">
        <div class="loader_icon aicon_circle_loader"></div>
    </div>

    <md-dialog-content>
        <div class="dialog_splash error">
            <div class="splash_icon">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>

            <div class="splash_text">
                Unable to add item to cart!
            </div>

            <div class="splash_actions">
                <button class="btn btn_default btn_block btn_small" ng-click="continue()">Continue Shopping</button>
                <button class="btn btn_primary btn_block btn_small" ng-click="goto_checkout()">Checkout</button>
            </div>
        </div>

        <div class="dialog_splash success">
            <div class="splash_icon">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
            </div>

            <div class="splash_text">
                This item was added to your cart!
            </div>

            <div class="splash_actions">
                <button class="btn btn_default btn_block btn_small" ng-click="continue()">Continue Shopping</button>
                <button class="btn btn_primary btn_block btn_small" ng-click="goto_checkout()">Checkout</button>
            </div>
        </div>
    </md-dialog-content>


</md-dialog>