<div class="customer_id_selector">
    <div class="selector_empty">
        <div class="selector_actions">
            <a class="btn btn-primary" ng-click="open_upload_dialog('file')">Upload File</a>
            <a class="btn btn-primary" ng-click="open_upload_dialog('webcam')">Use Webcam</a>
        </div>
    </div>
</div>