<md-dialog aria-label="%% dialog_config.title %%" ng-cloak flex="50" class="dialog_clean">
    <md-dialog-content>
        <div class="dialog_body">
            <div class="id_uploader_file" ng-if="(dialog_config.method === 'file')">
                <div customer-id-upload-file image="image_data" on-select="set_customer_image(image_data)"></div>
            </div>

            <div class="id_uploader_webcam" ng-if="(dialog_config.method === 'webcam')">
                <div customer-id-upload-webcam image="image_data" on-select="set_customer_image(image_data)"></div>
            </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions class="dialog_footer">
        <button ng-click="cancel()" class="btn default">Cancel</button>
        <button ng-click="submit()" class="btn primary">%% dialog_config.save_btn_text %%</button>
    </md-dialog-actions>
</md-dialog>