<div ng-if="!config.webcam.exists">
    <div class="alert alert-danger">
        <p>You do not have a webcam available currently.</p>
    </div>
</div>

<div class="photo_use_webcam" ng-if="config.webcam.exists">
    <div class="row">
        <div class="col-sm-4">
            <div id="webcam_view" style="width:320px; height:240px;"></div>

            <div id="webcam_result">

            </div>
        </div>

        <div class="col-sm-8">
            <h4>
                Taking the perfect picture!
                <small>When using your webcam or camera to take a picture of your ID, make sure the whole card is visible and in focus. We wont approve your order if we can't verify your identification.</small>
            </h4>

            <div style="margin: 30px 0; text-align: center;">
                <button class="btn btn-success btn-lg" ng-if="webcam_live" ng-click="webcam_snapshot()">Take Picture Now!</button>
            </div>
        </div>
    </div>
</div>