<div class="option_steps">
    <div class="option_step open">
        <div class="step_header">
            <div class="step_icon">
                <i class="fas fa-map-marker-alt"></i>
            </div>

            <div class="step_title">
                Set Your Address
            </div>
        </div>

        <div class="step_body section_loads">
            <checkout-customer-address-selector address="value.address" config="address_config"></checkout-customer-address-selector>
        </div>
    </div>

    <div class="option_step">
        <div class="step_header">
            <div class="step_icon">
                <i class="fas fa-truck"></i>
            </div>

            <div class="step_title">
                Select Rate
            </div>
        </div>

        <div class="step_body section_loads no_pad">

            <div ng-cloak class="section_loader" ng-if="(state.loading === true)">
                <div class="loader_icon aicon_circle_loader"></div>
            </div>

            <div class="checkout_shipping_rates" ng-cloak ng-if="(state.has_rates !== true)">
                <div class="alert alert-info">
                    You must select your address first!
                </div>
            </div>

            <div class="checkout_shipping_rates" ng-cloak ng-if="(state.has_error === true)">
                <div class="alert alert-danger">
                    %% state.error %%
                </div>
            </div>

            <div class="checkout_shipping_rates" ng-cloak ng-if="(state.has_rates === true)">
                <md-radio-group ng-model="value.rate_token">
                    <div ng-repeat="rate in value.rates track by $index">
                        <div class="rate_item">
                            <div class="rate_select">
                                <md-radio-button value="%% rate.token %%" class="md-primary"></md-radio-button>
                            </div>

                            <div class="rate_title_col">
                                <span class="rate_title">%% rate.title %%</span>
                                <span class="rate_attributes">%% rate.attributes_str %%</span>

                            </div>
                            <div class="rate_arrival_col">
                                <span class="col_label">Est Arrival</span>
                                <span class="col_value">
                                    %% rate.date_arrival_est %%
                                </span>

                            </div>
                            <div class="rate_cost_col">
                                <span class="col_label">Price</span>
                                <span class="col_value">
                                    $%% rate.cost %%
                                </span>
                            </div>
                        </div>
                    </div>
                </md-radio-group>
            </div>
        </div>
    </div>
</div>