<div ng-cloak class="section_loader" ng-if="config.loading">
    <div class="loader_icon aicon_circle_loader"></div>
</div>

<div class="customer_address_selector items_grid" ng-if="!(addresses | isEmpty)">
    <select ng-model="selected.id" class="form-control input-lg" ng-change="address_select()">
        <option value="0">-- Select Your Address --</option>
        <option value="new">Create New Address</option>
        <option ng-repeat="option in addresses track by $index" value="%% option.address_id %%">
            %% option.address_street_1 %%, %% option.city.city_display_title_full %%
        </option>
    </select>
</div>

<div class="selector_address_form section_loads" ng-if="config.new_address">
    <customer-address-fields address="address"></customer-address-fields>

    <div ng-if="has_save_fn()" ng-cloak>
        <button type="button" ng-click="address_save()" class="btn btn_primary">Create Address</button>
    </div>
</div>

