<div class="customer_address_selector items_grid" ng-if="!(addresses |isEmpty)">
    <div class="selector_item grid_item" ng-repeat="address in addresses track by $index" ng-class="{ 'selected' : is_selected(address.address_id) }">
        <address class="selector_address">
            <span class="address_street">{{address.address_street_1}}</span>
            <span class="address_street">{{address.address_street_2}}</span>
            <span class="address_city">{{address.city.city_display_title_full}}</span>
        </address>

        <div class="selector_actions">
            <button type="button" class="btn btn-primary btn-block" ng-click="address_select($index)">Use This Address</button>

            <div class="selector_sub_actions">
                <button type="button" class="btn btn-xs" ng-click="address_edit($index)">Edit</button>
                <button type="button" class="btn btn-xs" ng-click="address_remove($index)">Remove</button>
            </div>
        </div>
    </div>
</div>

<div class="" ng-if="addresses |isEmpty">
    <customer-address-fields address="address"></customer-address-fields>
</div>