<div class="customer_address_selector items_grid" ng-if="!(cards | isEmpty)">
    <select ng-model="selected.id" class="form-control input-lg" ng-change="select()">
        <option value="0">-- Select Credit Card --</option>
        <option value="new">Create New Card</option>
        <option ng-repeat="option in cards track by $index" value="%% option.card_id %%">
            [%% option.card_type %%]  %% option.card_masked_num %% Expires %% option.card_expiry_month %%/%% option.card_expiry_year %%
        </option>
    </select>
</div>

<div class="" ng-if="config.new_card">
    <div class="row">
        <div class="col-12">
            <md-checkbox ng-model="card.card_save" aria-label="Yes, save my card for future orders" ng-true-value="1" ng-false-value="0">
                Yes, save my card for future orders
            </md-checkbox>
        </div>
    </div>

    <bloom-credit-card-form card="card"></bloom-credit-card-form>
</div>