<div class="coupon_form_inline">
    <input type="text" class="form-control coupon_field" ng-model="coupon_code" placeholder="Coupon Code..."/>
    <button type="button" ng-click="apply_coupon()" class="btn btn_primary coupon_btn btn_loader" ng-class="{'loading' : config.loading }">Apply</button>
</div>