<div class="checkout_loyalty_alert" ng-cloak ng-if="(customer !== false)">
    <div class="alert_col alert_text" ng-cloak ng-if="(config.use_points === false)">
        You have <span class="loyalty_points">{{ config.avail_points }} points</span> and could save <span class="loyalty_value">${{ config.avail_value }}</span>!
    </div>

    <div class="alert_col alert_text" ng-cloak ng-if="(config.use_points === true)">
        Applying loyalty points for <span class="loyalty_value">{{ config.avail_value }}</span> off!
    </div>

    <div class="alert_col alert_actions">
        <button type="button" ng-click="use_points()" class="btn btn_primary coupon_btn btn_loader" ng-class="{'loading' : config.loading }">
            <span ng-cloak ng-if="(config.use_points === false)">Use Points</span>
            <span ng-cloak ng-if="(config.use_points === true)">Don't Use Points</span>
        </button>
    </div>
</div>