<div class="grid-x">
    <div class="large-offset-6 large-6 medium-12 cell">
        <h4>CART TOTALS</h4>
    </div>
    <div class="large-offset-6 large-6 medium-12 cell total-row" ng-repeat="total in totals track by $index">
        <div class="grid-x">
            <div class="large-6 medium-6 small-6 cell header">
                {{total.title}}
            </div>
            <div class="large-6 medium-6 small-6 cell text-right content">
                {{total.value}}
            </div>
        </div>
    </div>
</div>