<div class="product_viewer product_browse_viewer">
    <div class="viewer_stage">
        <div ng-cloak ng-show="!(result_has_products())">
            <div class="stage_no_products">
                <span class="title">Product Coming Soon</span>
                <span class="message">Limited edition gear is being added often.</span>
            </div>
        </div>

        <div ng-cloak ng-show="result_has_products()">
            <div class="stage_frame">
                <div class="viewer_grid"></div>
            </div>

            <div class="stage_load_more_row">
                <button class="btn btn_primary stage_load_more_btn" ng-click="load_more()" ng-if="show_load_more_btn()">
                    <div class="loader_icon aicon_circle_loader"></div>
                    <span class="btn_text">Load More</span>
                </button>
            </div>
        </div>


    </div>
</div>