<div ng-if="(product.product_is_variation)">
    <div style="margin-bottom: 20px;">
        <!--<product-variant-selector product="product"></product-variant-selector>-->
        <select class="form-control" ng-model="cart_fields.item_product_variant_index" ng-change="product_change_variant()">
            <option value="select"> -- Select Product Options -- </option>
            <option value="%% $index %%" ng-repeat="variant in product.variations track by $index">%% variant.display_attributes_str %%</option>
        </select>
    </div>

</div>

<div ng-if="product.price_has_range">
    <div ng-if="!(product.product_is_variation)" class="product_prices">
        <md-radio-group ng-model="cart_fields.item_product_price_index" ng-change="product_change_price()">
            <md-radio-button id="cart_item_%%$index%%" ng-repeat="price in product.prices track by $index" ng-value="%%$index%%" class="product_price" ng-class="{ 'active' : cart_item_selected($index) }">
                <div class="gram">%%price.price_title%%</div> <div class="divider">|</div> <div class="price">$%%price.price_cost%%</div> <div class="discount"></div>
            </md-radio-button>
        </md-radio-group>
    </div>
</div>

<div class="product_cart_add_form">
    <!--<div class="cart_add_quantity">-->
        <!--<cart-quantity-input quantity="cart_fields.item_quantity"></cart-quantity-input>-->
    <!--</div>-->

    <div class="cart_add_submit" ng-cloak ng-if="!(state.can_add)">
        <div class="alert alert-warning">Select your product options!</div>
    </div>

    <div class="cart_add_submit" ng-cloak ng-if="state.can_add">
        <button ng-cloak ng-if="!(state.has_stock)" class="btn btn_secondary add_to_cart_btn">SOLD OUT</button>
        <button ng-cloak ng-if="(state.has_stock)" ng-click="cart_item_add()" class="btn btn_primary add_to_cart_btn">ADD TO CART</button>
    </div>
</div>