<md-dialog aria-label="Select Effects" ng-cloak flex="50" class="dialog_clean">
    <form class="filter_effects_form">
        <md-dialog-content class="dialog_body">

            <div class="effects_select_grid">
                <div class="grid_item" ng-repeat="(key, effect) in effects track by $index" ng-click="select(key)" ng-class="{ 'selected' : is_selected(key) }" style="background-color: {{effect.color}};">
                    <div class="item_select_cover"><i class="fa fa-check-circle" aria-hidden="true"></i></div>

                    <div class="item_inner">
                        <div class="item_icon">
                            <i class="{{effect.icon}}" aria-hidden="true"></i>
                        </div>

                        <span class="item_title">{{effect.title}}</span>
                    </div>
                </div>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row" class="dialog_footer">
            <button ng-click="cancel()" class="btn large default">
                Cancel
            </button>

            <button ng-click="submit()" class="btn large primary">
                Filter Effects
            </button>

        </md-dialog-actions>
    </form>
</md-dialog>



