<div class="product_viewer product_embedded_viewer">
    <div class="viewer_loader" ng-if="config.loading">
        <div class="loader_icon aicon_circle_loader"></div>
    </div>

    <div class="viewer_stage">
        <div class="stage_frame">

            <div class="viewer_grid" ng-bind-html="result_html()"></div>

        </div>
    </div>
</div>