<div class="browse_filters">
    <div class="filters_menu">
        <div class="menu_filter">
            <span class="filter_label">Price Range</span>
            <span class="filter_value">

            </span>
        </div>

        <div class="menu_filter">
            <span class="filter_label">Strain</span>
            <span class="filter_value">
                <select>
                    <option>All</option>
                    <option>Sativa</option>
                    <option>Indica</option>
                    <option>Hybrid</option>
                </select>
            </span>
        </div>

        <div class="menu_filter">
            <span class="filter_label">Sort By</span>
            <span class="filter_value">
                <select>
                    <option>Lowest Price</option>
                    <option>Highest Price</option>
                    <option>Best Rated</option>
                    <option>Newest</option>
                </select>
            </span>
        </div>

        <div class="menu_filter large" ng-click="">
            <span class="filter_label">Effects</span>
            <span class="filter_value">
                <div class="value_grid">

                    <div class="grid_item">
                        <span class="item_status">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </span>
                        <span class="item_label">Happy</span>
                    </div>

                    <div class="grid_item">
                        <span class="item_status">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </span>
                        <span class="item_label">Happy</span>
                    </div>

                    <div class="grid_item">
                        <span class="item_status">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </span>
                        <span class="item_label">Happy</span>
                    </div>

                    <div class="grid_item">
                        <span class="item_status">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                        </span>
                        <span class="item_label">Happy</span>
                    </div>
                </div>
            </span>
        </div>

        <div class="menu_submit">
            <button class="btn btn-primary">Filter Products</button>
        </div>
    </div>

    <div class="filters_display">
        <div class="filter_item">
            <span class="filter_label">Price Range</span>
            <span class="filter_value">
                <select>
                    <option>$5 - $15</option>
                    <option>$15 - $30</option>
                    <option>$30 - $45</option>
                    <option>Newest</option>
                </select>
            </span>
        </div>

        <div class="filter_item">
            <span class="filter_label">Strain</span>
            <span class="filter_value">All</span>
        </div>

        <div class="filter_item">
            <span class="filter_label">Sort By</span>
            <span class="filter_value">Lowest Price</span>
        </div>

        <div class="filter_item large" ng-click="">
            <span class="filter_label">Effects</span>
            <span class="filter_value">Happy, Sleepy, Energy, Blah, Blash, Bash</span>
        </div>

        <div class="filter_submit">
            <button class="btn btn-primary">Clear Filters</button>
        </div>
    </div>

</div>