<div class="product_image_gallery">
    <div class="gallery_main">
        <a href="%% selected_image.sizes.large.url %%" data-rel="lightcase:productGallery">
            <img src="%% selected_image.sizes.thumb_large.url %%" />
        </a>
    </div>

    <div class="gallery_thumbs_nav" role="navigation" ng-cloak ng-if="show_gallery_nav()">
        <a class="nav_dir_btn prev" role="scroll-prev">
            <i class="fa fa-chevron-up"></i>
        </a>

        <div class="nav_viewport" role="viewport">
            <div class="nav_track" role="viewport-track">
                <div class="thumb_item" ng-repeat="thumb in images track by $index" ng-click="select_image($index)">
                    <img src="%% thumb.image.sizes.thumb.url %%" />
                    <a href="%% selected_image.sizes.large.url %%" data-rel="lightcase:productGallery"></a>
                </div>
            </div>
        </div>

        <a class="nav_dir_btn next" role="scroll-next">
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
</div>