<div class="review_rating_stars">
    <i class="fa fa-star" aria-hidden="true" ng-class="{ 'selected' : is_active(1) }" ng-click="select(1)" ng-mouseover="hover(1)"></i>
    <i class="fa fa-star" aria-hidden="true" ng-class="{ 'selected' : is_active(2) }" ng-click="select(2)" ng-mouseover="hover(2)"></i>
    <i class="fa fa-star" aria-hidden="true" ng-class="{ 'selected' : is_active(3) }" ng-click="select(3)" ng-mouseover="hover(3)"></i>
    <i class="fa fa-star" aria-hidden="true" ng-class="{ 'selected' : is_active(4) }" ng-click="select(4)" ng-mouseover="hover(4)"></i>
    <i class="fa fa-star" aria-hidden="true" ng-class="{ 'selected' : is_active(5) }" ng-click="select(5)" ng-mouseover="hover(5)"></i>
</div>