<form class="product_review_form" ng-submit="submit_review()">
    <div class="grid-x grid-padding-x">
        <div class="medium-5 cell">
            <div class="form_row">
                <h5>What effects did you notice most?</h5>

                <div class="review_effects">
                    <div class="effect_row">
                        <div class="grid-x grid-padding-x">
                            <div class="medium-5 cell">
                                <select name="" class="form-control input-sm">
                                    <option value="">Happy</option>
                                    <option value="">Uplifted</option>
                                    <option value="">Euphoric</option>
                                </select>
                            </div>

                            <div class="medium-7 cell">
                                <product-review-stars rating=""></product-review-stars>
                            </div>
                        </div>
                    </div>

                    <div class="effect_row">
                        <div class="grid-x grid-padding-x">
                            <div class="medium-5 cell">
                                <select name="" class="form-control input-sm">
                                    <option value="">Happy</option>
                                    <option value="">Uplifted</option>
                                    <option value="">Euphoric</option>
                                </select>
                            </div>

                            <div class="medium-7 cell">
                                <product-review-stars rating=""></product-review-stars>
                            </div>
                        </div>
                    </div>

                    <div class="effect_row">
                        <div class="grid-x grid-padding-x">
                            <div class="medium-5 cell">
                                <select name="" class="form-control input-sm">
                                    <option value="">Happy</option>
                                    <option value="">Uplifted</option>
                                    <option value="">Euphoric</option>
                                </select>
                            </div>

                            <div class="medium-7 cell">
                                <product-review-stars rating=""></product-review-stars>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form_row">
                <h5>What flavour was most prominent?</h5>

                <div class="review_flavour">
                    <div class="grid-x grid-padding-x">
                        <div class="medium-5 cell">
                            <select name="" class="form-control input-sm">
                                <option value="">Earthy</option>
                                <option value="">Citrus</option>
                                <option value="">Wood</option>
                            </select>
                        </div>

                        <div class="medium-7 cell">
                            <product-review-stars rating=""></product-review-stars>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="medium-7 cell">
            <div class="form_row">
                <h5>Overall, how would you rate this strain?</h5>

                <product-review-stars rating=""></product-review-stars>
            </div>

            <div class="form_row">
                <h5>Provide a comment</h5>
                <textarea class="form-control review_comment_field" ng-model="review_fields.comment" placeholder="Let other customers know about your experience..."></textarea>
            </div>

            <button class="btn btn-success" type="submit">Submit Review</button>
        </div>
    </div>
</form>