<div class="">
    <form class="product_review_form form" ng-submit="submit_review()">
        <section class="form_section">

            <div class="form_row row_split">
                <div class="row_col split_col_label">
                    <span class="label_title">Overall</span>
                </div>

                <div class="row_col split_col_value">
                    <product-review-stars rating="fields.ratings.overall"></product-review-stars>
                </div>
            </div>

            <div class="form_row row_split" ng-if="config.include_rating_categories">
                <div class="row_col split_col_label">
                    <span class="label_title">Categories</span>
                </div>

                <div class="row_col split_col_value">
                    <div class="row">
                        <div class="col-4">
                            <div class="review_rating_extra">
                                <span class="extra_title">Highness</span>
                                <md-radio-group ng-model="fields.ratings.weed_highness">
                                    <div class="extra_value">
                                        <md-radio-button value="buzzed" class="md-primary">Buzzed</md-radio-button>
                                    </div>

                                    <div class="extra_value">
                                        <md-radio-button value="middle" class="md-primary">Middle</md-radio-button>
                                    </div>

                                    <div class="extra_value">
                                        <md-radio-button value="flying" class="md-primary">Flying</md-radio-button>
                                    </div>
                                </md-radio-group>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="review_rating_extra">
                                <span class="extra_title">Flavour</span>

                                <md-radio-group ng-model="fields.ratings.weed_flavour">
                                    <div class="extra_value">
                                        <md-radio-button value="sweet" class="md-primary">Sweet</md-radio-button>
                                    </div>

                                    <div class="extra_value">
                                        <md-radio-button value="middle" class="md-primary">Middle</md-radio-button>
                                    </div>

                                    <div class="extra_value">
                                        <md-radio-button value="sour" class="md-primary">Sour</md-radio-button>
                                    </div>
                                </md-radio-group>

                            </div>
                        </div>

                        <div class="col-4">
                            <div class="review_rating_extra">
                                <span class="extra_title">Effect</span>

                                <md-radio-group ng-model="fields.ratings.weed_effect">
                                    <div class="extra_value">
                                        <md-radio-button value="relaxed" class="md-primary">Relaxed</md-radio-button>
                                    </div>

                                    <div class="extra_value">
                                        <md-radio-button value="middle" class="md-primary">Middle</md-radio-button>
                                    </div>

                                    <div class="extra_value">
                                        <md-radio-button value="hyper" class="md-primary">Hyper</md-radio-button>
                                    </div>
                                </md-radio-group>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="form_section">
            <div class="form_row">
                <input type="text" class="form-control" ng-model="fields.title" placeholder="Headline for your review..." />
            </div>

            <div class="form_row">
                <textarea class="form-control review_comment_field" ng-model="fields.comment" placeholder="Write your review here. It must be at least 5 characters long. Consider writing about what is good and bad about this product in order to help others make a purchase decision..."></textarea>
            </div>

            <div class="form_row">
                <div bloom-image-uploader images="fields.images"></div>
            </div>
        </section>

        <div class="form_row_submit">
            <button class="btn btn_primary" type="submit">Submit Review</button>
        </div>

    </form>
</div>