<div class="product_variant_selector">
    <div ng-repeat="attr in product.attributes track by $index">
        <div class="selector_row">
            <div class="row_title">
                %% attr.attribute.attribute_title %%
            </div>

            <div class="row_field">
                <select class="form-control">
                    <option ng-repeat="option in filter_options(attr.options) track by $index">%% option.option_title %%</option>
                </select>
            </div>
        </div>
    </div>
</div>
