<div class="bk_mystore_hud" ng-click="open_dialog()">
    <span class="bk_mystore_hud_icon"><i class="fas fa-map-marker-alt"></i></span>
    <span class="bk_mystore_hud_display">%% selected_display() %%</span>
    <span class="bk_mystore_hud_state_icon"><i class="fas fa-chevron-down"></i></span>
</div>