<select class="form-control" ng-model="selected.id" ng-change="select()">
    <option ng-repeat="store in stores track by $index" value="%% store.store_id %%"> %% store.store_name %%</option>
</select>