
<div class="orders_table flex_table">
    <div class="table_header">
        <div class="table_row">
            <div class="row_col_id">ORDER #</div>
            <div class="row_col_date">DATE</div>
            <div class="row_col_cost">TOTAL</div>
            <div class="row_col_status">STATUS</div>
            <div class="row_col_actions"></div>
        </div>
    </div>

    <div class="table_body">
        <div class="table_row" ng-repeat="item in items track by $index">
            <div class="row_col_id">#%% item.order_id %%</div>
            <div class="row_col_date">%% item.date_display.date %%</div>
            <div class="row_col_cost">$%% item.order_cost_total %%</div>
            <div class="row_col_status">%% item.status.title %%</div>
            <div class="row_col_actions">
                <a href="%% config.base_url %%/%% item.order_id %%" class="btn_flat">View Order</a>
            </div>
        </div>
    </div>
</div>
