<md-dialog aria-label="%% dialog_config.title %%" ng-cloak flex="50" class="dialog_clean">
    <md-dialog-content>
        <div class="dialog_body">
            <form class="form">
                <h3>Updating Your Email Address
                    <small>Updating your email address is easy and fun! Once you submit a valid email address, you will receive an email to confirm your changes.</small>
                </h3>

                <div class="form-group">
                    <label>Your New Email Address</label>
                    <input type="text" ng-model="customer.customer_email" class="form-control input-lg" />
                </div>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions class="dialog_footer">
        <button ng-click="cancel()" class="btn default">Cancel</button>
        <button ng-click="submit()" class="btn primary">%% dialog_config.save_btn_text %%</button>
    </md-dialog-actions>
</md-dialog>


