<md-dialog aria-label="%% dialog_config.title %%" ng-cloak class="dialog_clean" ng-class="{ 'dialog_loading' : dialog_config.loading, 'dialog_successful' : dialog_config.success }">
    <div class="dialog_loader">
        <div class="loader_icon aicon_circle_loader"></div>
    </div>

    <div class="dialog_success">
        <div class="success_msg">
            <div class="msg_icon aicon_checkmark"></div>
            <div class="msg_text">
                %% dialog_config.success_msg %%
            </div>
        </div>

    </div>

    <md-dialog-content>

        <div class="dialog_body">
            <div class="body_header">
                <h3 class="header_title header_underline">Update Password</h3>
            </div>

            <form class="form invite_form" ng-submit="submit()">
                <div class="form_row">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="password" class="field" ng-model="fields.customer_pass" placeholder="Password..." />
                        </div>

                        <div class="col-md-6">
                            <input type="password" class="field" ng-model="fields.customer_pass_confirm" placeholder="Confirm Password..." />
                        </div>
                    </div>

                </div>

                <div class="form_row_submit">
                    <button type="submit" class="btn btn_primary btn_block">Reset Password</button>
                </div>
            </form>
        </div>

    </md-dialog-content>
</md-dialog>


